<div style="padding-top: 50px;">
  <div style="padding-bottom: px; min-height: 800px;background-color:#28343a;">
    <mat-grid-list cols="4" rowHeight="2:1" style="min-height: 250px;">
      <mat-card class="card_clr">
        <h2 style="text-transform: uppercase;">{{userdata.usertype}} DASHBOARD</h2>

        <mat-divider></mat-divider>

        <div class="header">
          <div class="avatar-container">
            <img class="avatar" src="http://localhost:3000/users/profileImage/{{userdata.filepath}}">
            <div class="avatar-hover">
              <mat-icon>camera_alt</mat-icon>
            </div>
          </div>
          <div class="user-detail-container">
            <div class="mat-display-2 compact"> {{userdata.firstname}}</div>
            <h2 class="mat-display-1 compact">{{userdata.lastname}}</h2>
            <br>
            <div>{{userdata.email}}</div>
            <div>{{userdata.contactnumber}}</div>
            <br>
          </div>
        </div>
        <mat-divider></mat-divider>
        <br />


      </mat-card>
    </mat-grid-list>
    <!-- ****************************************************************************************************************************************** -->
    <mat-card class="card_clr" style="margin-top: 75px; margin-left: 40px; margin-right: 40px; border-radius: 10px;">

      <!-- ************************************ Customer Functions ************************************************************************************* -->

      <mat-grid-list cols="4" rowHeight="2:1" *ngIf="cookies.userData.usertype == 'Customer'">
        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="/myServices">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                    <i class="material-icons btn_icn">assignment</i> MY SERVICES
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="/makeReservation">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                    <i class="material-icons btn_icn">add_box</i> MAKE RESERVATIONS
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="/jobHistory">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                    <i class="material-icons btn_icn">analytics</i> JOB HISTORY
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align-last:center;padding-top:2px;">
                    <i class="material-icons btn_icn">fact_check</i> VIEW STATUS
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <!-- ************************************ Foreman Functions ************************************************************************************* -->

      <mat-card class="card_clr">
        <mat-grid-list cols="4" rowHeight="2:1" *ngIf="cookies.userData.usertype == 'Foreman'">

          <mat-grid-tile>
            <mat-card class="container-fluid tct">
              <div class="row">
                <div class="col-md-3">
                  <div class="row frist_div" routerLink="/createJob">
                    <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                      <i class="material-icons btn_icn">add_circle</i> NEW JOB
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card class="container-fluid tct">
              <div class="row">
                <div class="col-md-3">
                  <div class="row frist_div" routerLink="/ongoingJobs">
                    <div class="col-md-3 btn_txt btn_icn" style="text-align-last:center;padding-top:2px;">
                      <i class="material-icons btn_icn">miscellaneous_services</i> ONGOING JOBS
                      <label class="notice_label ">1</label>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card class="container-fluid tct">
              <div class="row">
                <div class="col-md-3">
                  <div class="row frist_div" routerLink="/viewTechnicians">
                    <div class="col-md-3 btn_txt btn_icn" style="text-align-last:center;padding-top:2px;">
                      <i class="material-icons btn_icn">assignment_ind</i> VIEW TECHNICIANS
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card class="container-fluid tct">
              <div class="row">
                <div class="col-md-3">
                  <div class="row frist_div" routerLink="/withdrawStock">
                    <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                      <i class="material-icons btn_icn">store</i> WITHDRAW STOCK
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>

      <mat-card class="card_clr">
        <mat-grid-list cols="4" rowHeight="2:1" *ngIf="cookies.userData.usertype == 'Foreman'">

          <mat-grid-tile>
            <mat-card class="container-fluid tct">
              <div class="row">
                <div class="col-md-3">
                  <div class="row frist_div" routerLink="/approveReservations">
                    <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                      <i class="material-icons btn_icn">rule_folder</i> APPROVE RESERVATIONS
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </mat-grid-tile>

        </mat-grid-list>
      </mat-card>


      <!-- ************************************ Accountant Functions ************************************************************************************* -->

      <mat-grid-list cols="4" rowHeight="2:1" *ngIf="cookies.userData.usertype == 'Accountant'">

        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="/purchaseOrderRequests">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                    <i class="material-icons btn_icn">check_circle</i> PO REQUESTS
                    <label class="notice_label ">1</label>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="/createInvoice">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                    <i class="material-icons btn_icn">receipt</i> CREATE INVOICE
                    <label class="notice_label ">1</label>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="/invoiceHistory">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                    <i class="material-icons btn_icn">history</i> INVOICE HISTORY
                    <label class="notice_label ">1</label>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>


      </mat-grid-list>
      <!-- ************************************ Store-Keeper Functions ************************************************************************************* -->

      <mat-grid-list cols="3" rowHeight="3:1" *ngIf="cookies.userData.usertype == 'Store-Keeper'">

        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="/addStock">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                    <i class="material-icons btn_icn">inventory</i> ADD STOCK
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>


        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="/stockStatus">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align-last:center;padding-top:2px;">
                    <i class="material-icons btn_icn">ballot</i> STOCK STATUS
                    <label class="notice_label ">1</label>
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="container-fluid tct">
            <div class="row">
              <div class="col-md-3">
                <div class="row frist_div" routerLink="">
                  <div class="col-md-3 btn_txt btn_icn" style="text-align-last:center;padding-top:2px;">
                    <i class="material-icons btn_icn">timeline</i> PURCHASE ORDER STATUS
                  </div>
                </div>
              </div>
            </div>
          </mat-card>
        </mat-grid-tile>

      </mat-grid-list>

    </mat-card>


  </div>
</div>