<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav  class="example-container" #sidenav mode="side" opened  >
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="OuterContainer">
        <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="design.png"> // Add material icons
                        <h3>Register a Vehicle</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Description goes here</p>>
                        <a href="#">Button</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="design.png"> // Add material icons
                        <h3>New Job Task</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Description goes here</p>>
                        <a href="#">Button</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="design.png"> // Add material icons
                        <h3>View my Tasks</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Description goes here</p>>
                        <a href="#">Button</a>
                    </div>
                </div>
            </div>

            <div class="card">
              <div class="face face1">
                  <div class="content">
                      <img src="design.png"> // Add material icons
                      <h3>View my Tasks</h3>
                  </div>
              </div>
              <div class="face face2">
                  <div class="content">
                      <p>Description goes here</p>>
                      <a href="#">Button</a>
                  </div>
              </div>
          </div>
        </div>
      </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
