<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened>
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec; min-height: 1300px; background-image: linear-gradient(to bottom right, #fdfcfb,#2f3a46);">

              <br />
              <div class="test">
                <h2 class="topic">SERVICE HISTORY</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 80px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <!-- ***************************************************ADD SUPPLIER************************************************************************** -->
                  <mat-tab label="MY SERVICE HISTORY">


                    <mat-card>
                      <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 5px" />
                      <mat-card style="margin-left: 20%; margin-right: 20%; margin-bottom: 2em;"
                        *ngFor="let k of jobHis">
                        <table style=" width: 100%;">
                          <tr>
                            <td style="width: 70%;text-align: left;">
                          <tr>
                            <td style="font-weight: bold;">Job Number</td>
                            <td>: {{k.jobNo}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">
                              <p>jobType
                            </td>
                            <td>: {{k.jobType}}</td>
                          </tr>
                          <tr>
                            <td style="font-weight: bold;">Vehicle</td>
                            <td>: {{k.vehicle.vehicleRegNo}}</td>
                          </tr>
                          </td>
                          <td>
                            <button mat-raised-button class="my-4 btn-block reg_btn " (click)="viewJob(k)"
                              type="submit">View</button>
                          </td>
                          </tr>

                        </table>


                      </mat-card>





                    </mat-card>

                    <!-- {{supplierForm.value|json}} -->
                  </mat-tab>

                </mat-tab-group>
              </div>

            </div>
          </div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
