.tct {
  background-color: #000000;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 275px;
  height: 70px;
  border-radius: 20px;
}

.frist_div {
  height: 50px;
  color: #a35a16;
  border: 1.55px solid #a35a16;
  padding-top: 3px;
  padding-bottom: 13px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.frist_div:hover {
  color: white;
  transition: 0.5s;
}

.btn_icn {
  padding-left: 10px;
  font-size: 27px;
  padding-top: 6px;
  padding-right: 10px;
}

.btn_icn:hover {
  transition: 0.5s;
  color: white;
}

.btn_txt {
  color: #a35a16;
  font-size: 15px;
  padding-top: 5px;
  // margin-left: -20px;
}

.notice_label {
  color: white;
  background-color: rgb(191, 4, 4);
  width: 20px;
  font-size: 10px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  margin-left: 3px;
}

.card_clr{
  background-color: #3d4549;
  // background-image:linear-gradient(#28343a,#06a3f1) ;
  text-align: center;
}

.header {
  padding: 4rem 1rem 2rem 1rem;
  text-align: center;
  padding-top: 40px;
}


.avatar-container {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  width: 196px;
  height: 196px;
  background-color: #efefef;
  padding-left: 0px;
}

.avatar-container img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.avatar-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: white;
  background-color: #00000055;
  z-index: 10;
  opacity: 0;
}


.avatar-hover:hover {
  transition: all 0.5s ease-out;
  opacity: 1;
}

.avatar-hover .mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 36px;
  height: 36px;
  margin: -8% 0 0 -8%;
}

.avatar-hover .material-icons{
  font-size: 36px;
}

.user-detail-container {
  display: inline-block;
  position: relative;
  top: -32px;
  left: 24px;
  text-align: left;
  color: white;
}

.compact {
  margin: 0 !important;
}
