<div style="padding-top: 50px;">
<div style="padding-bottom: px; min-height: 450px;background-color:#9D8D8F;">

  <mat-card class="card_clr">
    <mat-grid-list  cols = "4"  rowHeight="2:1">
      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="/viewStore">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                          <i class="material-icons btn_icn">inventory</i> VIEW STORE
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="/searchUser">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                          <i class="material-icons btn_icn">search</i>  SEARCH USER
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="/approveOrders">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                          <i class="material-icons btn_icn">shop</i>  PURCHASE ORDERS
                          <label class="notice_label ">1</label>
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="/supplierInfo">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                          <i class="material-icons btn_icn">contacts</i>  SUPPLIER INFO
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card>

  <!-- ************************************REGISTRATION************************************************************************************* -->
  <mat-card class="card_clr">
    <!-- <h2 class="topic">REGISTRATION</h2> -->
    <mat-grid-list cols = "4" rowHeight="2:1">

      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="/AddItems">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align-last:center;padding-top:2px;">
                          <i class="material-icons btn_icn">add_to_queue</i> ADD NEW STORE ITEMS
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="/registerEmployee">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align-last:center;padding-top:2px;">
                          <i class="material-icons btn_icn">person_add</i>  EMPLOYEE REGISTRATION
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="/registerSupplier">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align-last:center;padding-top:2px;">
                          <i class="material-icons btn_icn">person_add</i>  SUPPLIER REGISTRATION
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="/registerCustomer">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align-last:center;padding-top:2px;">
                          <i class="material-icons btn_icn">person_add</i>  CUSTOMER REGISTRATION
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
  <!-- ******************************************************************************************************************************* -->
  <mat-card class="card_clr">
    <mat-grid-list  cols = "4" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="/messages">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                          <i class="material-icons btn_icn">mail_outline</i>  MAIL BOX
                          <!-- get unread count here -->
                          <label class="notice_label">1</label>
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-card class="container-fluid tct">
          <div class="row">
              <div class="col-md-3">
                  <div class="row frist_div" routerLink="../search_user">
                      <div class="col-md-3 btn_txt btn_icn" style="text-align: left;">
                          <i class="material-icons btn_icn">backup</i>  SYSTEM BACKUP
                      </div>
                  </div>
              </div>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>

</div>
</div>
