<div >
  <mat-grid-list cols = "3" >

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>1</mat-card-title>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>2</mat-card-title>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>3</mat-card-title>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>4</mat-card-title>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>5</mat-card-title>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card>
        <mat-card-title>6</mat-card-title>
      </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>

</div>
 