.tct {
  background-color: #479761;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 275px;
  height: 70px;
  // height: 100px;
  border-radius: 10px;
 
  // padding-left: 10px;
}
.card_clr{
  background-color: #19181a;
}
.frist_div {
  height: 50px;
  color: #19181a;
  border: 1.55px solid #19181a;
  padding-top: 3px;
  padding-bottom: 13px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.frist_div:hover {
  color: #9d8d8f;
  transition: 0.5s;
}

.btn_icn {
  padding-left: 10px;
  font-size: 27px;
  padding-top: 6px;
  padding-right: 10px;
}

.btn_icn:hover {
  transition: 0.5s;
  color: #19181a;
}

.btn_txt {
  color: #19181a;
  font-size: 15px;
  padding-top: 5px;
  // margin-left: -20px;
}

.notice_label {
  color: white;
  background-color: rgb(191, 4, 4);
  width: 20px;
  font-size: 10px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  margin-left: 3px;
}

.topic {
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding-top: 10px;
  font-family: topic_font;
}
