<div style="padding-top: 62px;">
<div class="container-fluid" style="background-color:#414142; padding-bottom: 10px; min-height: 700px;">
  <mat-card class="container-fluid test"> REGISTRATION
  <mat-grid-list cols = "3" >

    <mat-grid-tile>
      <mat-card class="container-fluid tct">
        <div class="row">
            <div class="col-md-3">
                <div class="row frist_div" routerLink="../search_user">
                    <div class="col-md-3 btn_txt" style="text-align: left;">
                        <i class="material-icons btn_icn">add_to_queue</i> ADD NEW STORE ITEMS

                    </div>
                </div>

            </div>

        </div>
    </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="container-fluid tct">
        <div class="row">
            <div class="col-md-3">
                <div class="row frist_div" routerLink="../search_user">
                    <div class="col-md-3 btn_txt" style="text-align: left;">
                        <i class="material-icons btn_icn">person</i>  EMPLOYEE REGISTRATION
                    </div>

                </div>

            </div>
        </div>
    </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="container-fluid tct">
        <div class="row">
            <div class="col-md-3">
                <div class="row frist_div" routerLink="../search_user">
                    <div class="col-md-3 btn_txt" style="text-align: left;">
                        <i class="material-icons btn_icn">person</i>  SUPPLIER REGISTRATION
                    </div>
                </div>

            </div>
        </div>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>
  <hr>
  



</div>

</div>
