.tct {
  background-color: #2b2a2a;
  // margin-top: 10px;
  width: 275px;
  height: 100px;
  border-radius: 20px;
  border: 1.55px solid #000000;

  // padding-left: 10px;
}

.test {
  background-color: #5e5555;
  margin-left: 50px;
  margin-right: 50px;
  height: 100%;
  border-radius: 10px;
  padding-top: 10px;
}

.frist_div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #c76b15;
  border: 1.55px solid #c76b15;
  padding-top: 3px;
  padding-bottom: 13px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;

}

.frist_div:hover {
  background-color: #e0e0e0;
  transition: 0.5s;
}

.btn_icn {
  padding-left: 10px;
  font-size: 35px;
  padding-top: 6px;
}

.btn_txt {
  color: #c76b15;
  font-size: 17px;
  padding-top: 10px;
  // margin-left: -20px;
}


.notice_label {
  color: white;
  background-color: rgb(191, 4, 4);
  width: 20px;
  font-size: 10px;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  margin-left: 3px;
}

.circle_read {
  color: #008b23;
}

.circle_not_read {
  color: rgb(219, 0, 0);
}

.notice_matCard {
  height: 50px;
  margin-bottom: 10px;
}
.notice_div{
    padding-top: 10px;
}
