<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened >
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec; min-height: 1300px;">

              <br />
              <div class="test">
                <h2 class="topic">+ NEW JOB</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <!-- ***************************************************NEW JOB CARD************************************************************************** -->
                  <mat-tab label="NEW JOB CARD">
                    <form [formGroup]=jobCardForm>

                      <mat-card>
                        <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 5px" />

                        <div class="form-row mb-4">

                          <mat-form-field appearance="outline">
                            <!-- <mat-label>Select User Type:</mat-label> -->
                            <mat-select placeholder="Job Type:" [(ngModel)]="jobCat" (ngModelChange)="selectTechnician($event)" formControlName="jobType">
                              <mat-option value="Paint Job">Paint Job</mat-option>
                              <mat-option value="Accident Repair">Accident Repair</mat-option>
                              <mat-option value="Vehicle Valuation">Vehicle Valuation</mat-option>
                              <mat-option value="Full Service">Full Service</mat-option>
                              <mat-option value="Other">Other</mat-option>
                            </mat-select>
                          </mat-form-field>


                          <mat-form-field appearance="outline">
                            <mat-label>Job No:</mat-label>
                            <input matInput class="form-control box_border" formControlName="jobNo">
                          </mat-form-field>


                          <mat-form-field appearance="outline">
                            <mat-label>Customer ID:</mat-label>
                            <input matInput class="form-control box_border" [(ngModel)]="custID" formControlName="custId">
                          </mat-form-field>
                          <br>
                          <br>

                          <div class="button-container">
                            <h3 >SHOW VEHICLES
                              <button mat-button  (click)=selectVehicle(custID) class="search_btn" >
                                <mat-icon>search</mat-icon> View
                              </button>
                            </h3>
                          </div>

                          <mat-form-field *ngIf="flag1" appearance="outline">
                            <mat-select placeholder="Select Vehicle:" formControlName="vehicle">
                              <mat-option [value] ="veh" *ngFor="let veh of custVehicles">{{veh.vehicleRegNo}}</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline" >
                            <mat-label>Problem Reported By Customer:</mat-label>
                            <textarea matInput formControlName="probCus"></textarea>
                          </mat-form-field>

                          <mat-form-field appearance="outline" >
                            <mat-label>Foreman Observation:</mat-label>
                            <textarea matInput formControlName="foremanObv"></textarea>
                          </mat-form-field>

                        </div>

                        <div class="button-container">
                          <h3 >ADD TECHNICIANS
                            <button mat-raised-button type="submit" (click)=save();  class="my-4 btn-block tec_btn " *ngIf="flag1">
                              <mat-icon>assignment_turned_in</mat-icon> Save
                            </button>
                          </h3>

                        </div>
                        <br>

                        <div *ngIf="flag1" class="mat-elevation-z8 mb-4" style="width:60%; margin-bottom: 10px; margin-left: 20%;">
                          <table class="table ">
                            <thead>
                              <tr>
                                <th>TECHNICIAN ID</th>
                                <th>CURRENT WORK STATUS</th>
                                <th>ACTION</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor= "let k of techExpertise">
                                <td>{{k.userid}}</td>
                                <td>{{k.currentjobCap}}/{{k.capacity}}</td>
                                <td>
                                  <button mat-icon-button  type="submit" (click)=addTechJob(k.userid,jobCat)  class=" btn-block tec_btn">
                                    <mat-icon>add</mat-icon>
                                  </button>
                                  <button mat-icon-button  type="submit" (click)=remTechJob(k.userid,jobCat) class=" btn-block btn_1">
                                    <mat-icon>clear</mat-icon>
                                  </button>
                              </td>
                              </tr>
                            </tbody>
                          </table>

                         </div>
                         <br>
                        <mat-form-field appearance="outline">
                          <mat-label>Estimated Service Charge:</mat-label>
                          <input matInput class="form-control box_border" formControlName="estCharge">
                        </mat-form-field>

                        <br>
                        <button mat-raised-button type="submit" (click)=createJobCard() class="my-4 btn-block reg_btn ">
                          Add Job
                        </button>

                        <button mat-raised-button type="submit" class="my-4 btn-block btn_1  ">
                          Cancel
                        </button>
                      </mat-card>
                      {{jobCardForm.value | json}}
                    </form>
                  </mat-tab>


                </mat-tab-group>

              </div>

            </div>
          </div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
