<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened>
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec; min-height: 1000px;">

              <br />
              <div class="test">
                <h2 class="topic">ADD NEW ITEM</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <!-- ***************************************************ADD ITEM************************************************************************** -->
                  <mat-tab label="ADD ITEM">
                    <form [formGroup]="itemForm">

                      <mat-card>
                        <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 5px" />

                        <div class="form-row mb-4">
                          <mat-form-field appearance="outline">
                            <!-- <mat-label>Select User Type:</mat-label> -->
                            <mat-select placeholder="Select Item Category:" formControlName="itemtype">
                              <mat-option value="Paints">Paints</mat-option>
                              <mat-option value="Tools">Tools</mat-option>
                              <mat-option value="Spare Parts">Spare Parts</mat-option>
                              <mat-option value="Tyres">Tyres</mat-option>
                              <mat-option value="Electric Parts">Electric Parts</mat-option>
                            </mat-select>
                          </mat-form-field>


                          <mat-form-field appearance="outline">
                            <mat-label>Item ID:</mat-label>
                            <input matInput class="form-control box_border" formControlName="itemid">
                            <!-- <mat-hint>Maximum Characters: 255</mat-hint> -->
                          </mat-form-field>


                          <mat-form-field appearance="outline">
                            <mat-label>Item Name:</mat-label>
                            <input matInput class="form-control box_border" formControlName="itemName">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>Buying Price:</mat-label>
                            <input matInput  formControlName="buying">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>Selling Price:</mat-label>
                            <input matInput  formControlName="selling">
                          </mat-form-field>

                          <!-- {{itemForm.value | json}} -->


                        </div>
                        <input type="file" class="file_upload" style="display: none" name="profilepic"
                        accept="image/*"  (change)="selectImage($event)"
                        #fileInput>

                        <div class="form-row mb-4">
                          <button class="pick_btn" type="button"  (click)="fileInput.click()" accept="image/*">Choose Item Image</button>
                          <small class="form-text text-muted mb-4"style=" text-align: left; margin-top: -18px;">
                            Resolution : (320 x 280)p / 8 : 7 {{filename}}
                          </small>
                        </div>
                        <br>
                        <br>
                        <button mat-raised-button (click)=addItem() type="submit" class="my-4 btn-block reg_btn ">
                          Register
                        </button>

                        <button mat-raised-button  type="submit" class="my-4 btn-block btn_1  ">
                          Cancel
                        </button>
                      </mat-card>
                    </form>
                  </mat-tab>

                </mat-tab-group>

              </div>

            </div>
          </div>
        </div>

      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
