/*parallax*//////////////////////////////////////////////

.parallax{
    background: url(../../../../assets/images/parallax/image9.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
  }
  .tt {
    opacity: 0;
  
  } 
  /*.tt {
     * :{
      opacity: 1;
    }
  }*/
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #c76b15!important;
    // opacity: 1!important;
  }
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:#c76b15!important;
  }
  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color:#c76b15;
  }
  .btn {
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 20px;
    color: #333333;
    height: 40px;
    font-family: side_font;
    font-weight: bolder;
    background-color: #c76b15 ;
  }
  .btn:hover{
    color: #339ccc;
    transition: 0.5s;
  }
  
  /*//////////////////////////////////////////////////////////////////
  [ FONT ]*/
  
  @font-face {
    font-family: Ubuntu-Regular;
    src: url('../../../../assets/fonts/ubuntu/Ubuntu-Regular.ttf');
  }
  
  @font-face {
    font-family: Ubuntu-Bold;
    src: url('../../../../assets/fonts/ubuntu/Ubuntu-Bold.ttf');
  
  }
  

  .example-container {
    background-color: #414142;
  }