.pimg2{
  background-image:url('../../../../../assets/images/contactUs.jpg');
  min-height:500px;
  width: auto;
}
.row{
  height: 1000px;
  background-color:#333;
}
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
  font-weight: bolder;
}
.ptext1{
  text-transform: none;
  font-size: 20px;
  color:#fff;
  letter-spacing:0px;
}
.form{
  text-transform: none;
  font-size: 20px;
  color:#fff;
  letter-spacing:0px;
  //margin-left:450px;
  //margin-top:140px;
  letter-spacing:0px;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.ptext .border{
  background-color:rgb(0, 0, 0);
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:rgb(41, 39, 39);
}
@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.9;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}
.section-dark{
  //background-color:#282e34;
  background-color: #333;
  color:#ddd;
  width: auto;
}
/*.section{
  text-align:center;
  padding:80px 80px;
}*/
agm-map{
  height:500px;
  width: 700px;
  border-radius: 20px;
}

.First-card{
  width:450px;
  height:465px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 3rem;


}
mat-form-field,
textarea{
  width: 100%;
}
mat-form-field{
  width:70%
}

.call_icn{
  text-align: center;
}

.contact_txt{
  text-align: center;
}
/*.p1text{
  text-align: left;
  font-size: 16px;
  letter-spacing:0px;
  text-transform:none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-left: 4rem;
  height:150px

}*/
section {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #c76b15!important;
  // opacity: 1!important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color:#c76b15!important;
}
mat-form-field{
  width: 420px;
  font-size: 12px;

}
.btn1{

  border-radius: 20px;
  margin-left: 10rem;
  color: aliceblue;
  background-color: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;

}
.btn2{

  border-radius: 20px;
  color: aliceblue;
  background-color: rgb(221, 81, 112);
  border-color: rgb(221, 81, 112);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
