<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    <body>
      <div class="row">
      <div class="pimg2">
        <div class="ptext">
          <span>
            Get in touch<br>
            <span class="ptext1">
              Wants to get in touch? We'd love to hear from you. Here's how you can reach us.
            </span>

            <div class="form">
              <br>
              <mat-card class="First-card">
              <mat-card-header>Contact-Us</mat-card-header><br>
                <form (submit)="onSubmit(contactForm)" #contactForm = "ngForm" >
                  <mat-form-field appearance="outline" style="display:block; width:65%; margin: auto;">
                    <mat-label>Name</mat-label>
                    <input matInput name="name" ngModel type="text" #nameInput="ngModel" placeholder= "Please enter Your Name" required>
                  <mat-error *ngIf="nameInput.invalid">Please enter a your name</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="display:block; width:65%; margin: auto;">
                    <mat-label>E-mail</mat-label>
                    <input matInput name="email" ngModel type="email" #emailInput="ngModel" placeholder= "ex-yrh@gmail.com"required email>
                  <mat-error *ngIf="emailInput.invalid">Please enter a valid e-mail</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="display:block; width:65%; margin: auto;">
                    <mat-label>Subject</mat-label>
                    <input matInput name="subject" ngModel type="text" #subjectInput="ngModel" placeholder= "ex- regarding an appointment" required >
                  <mat-error *ngIf="subjectInput.invalid">Please enter your subject</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="display:block; width:65%; margin: auto;">
                    <mat-label>Message</mat-label>
                    <textarea matInput rows="4" name="content" ngModel #contentInput="ngModel" placeholder="Leave your message" required>
                  </textarea>
                  <mat-error *ngIf="contentInput.invalid">Please enter your subject</mat-error>
                  </mat-form-field><br>
                  <button mat-raised-button class="btn1" type="submit">SUBMIT</button>
                  <button mat-raised-button class="btn2 my-4 btn-block" (click)="reset()">Cancel </button>


                </form>
              </mat-card>
            </div>
          </span>
        </div>
      </div>
    </div>

<section class="section section-dark">


      <div>
        <h2 style="text-align: center;">CONNECT WITH OUR SERVICE STATION</h2>

        <mat-grid-list cols="3" rowHeight="0.5:0.7" col style="border-style: solid; background-color: #333;border-color: #020202;" >

          <div>
          <mat-grid-tile style="border-radius: 20px;" colspan="2">
            <!--<mat-card class="map">-->
              <mat-card-title></mat-card-title>
                 <agm-map style="border-radius: 20px;" [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                  </agm-map>

           <!-- </mat-card>-->
          </mat-grid-tile>
          <mat-grid-tile colspan="1">
            <table style="text-align: left;">
              <tr>
                <td><h4>Find Us</h4><p class="p1">412A,Galle Road,<br>Pamburana,Matara Road,<br>Matara<br></p></td>

              </tr>
              <tr>
                <td><h4>Phone/E-mail</h4><p><i class="material-icons">call </i>(041 222 3120)<br><i class="material-icons">email </i> preethi@gmail.com</p></td>

              </tr>
            </table>




          </mat-grid-tile>
        </div>

        </mat-grid-list>
      </div>

      </section>

    </body>






    <!-- <div class= "p1text">
          <h2>Feel free to talk to us and drop a message</h2>
          <p class="p1">412A,<br>Galle Road,<br>Pamburana,<br>Matara Road,<br>Matara<br><i class="material-icons">call </i>
          (041 222 3120)<br><i class="material-icons">email </i> preethi@gmail.com
      </p>
      </div>-->
