<div [ngClass]="collapsed ?'collapsed':'opened'">
  <br>


  <div  style="background-color: #28343a; height: 53px;" class="mb-15px">
    <div class="row">
      <div class="col-md-9">
        <button mat-button (click)=toggle() class="sidebar_button">
        <mat-icon>list</mat-icon>
             <!-- HOME -->
        </button>
        </div>
      </div>
  </div>
  <br>
  <div  style="background-color: #28343a; height: 52px;" class="mb-15px">
    <div class="row">
      <div class="col-md-9">
        <mat-icon class="sidebar_items">account_circle</mat-icon>
             <!-- HOME -->
        </div>
      </div>
  </div>
  <br>
  <div  style="background-color: #28343a; height: 52px;" class="mb-15px">
    <div class="row">
      <div class="col-md-9">
        <mat-icon class="sidebar_items">home</mat-icon>
             <!-- HOME -->
        </div>
      </div>
  </div>
  <br>
  <div  style="background-color: #28343a; height: 52px;" class="mb-15px">
    <div class="row">
      <div class="col-md-9">
        <mat-icon class="sidebar_items">menu</mat-icon>
             <!-- HOME -->
        </div>
      </div>
  </div>
  <br>
  <!-- <div>
    <mat-expansion-panel style="background-color: #28343a" class="mb-15px" hideToggle="true">
      <mat-expansion-panel-header>PORTAL
        <mat-panel-description style="color: #c76b15">
          <mat-icon >menu</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </div>
  <br> -->
  <mat-accordion >


    <div>
      <mat-expansion-panel style="background-color: #28343a" class="mb-15px" hideToggle="true" #x>
        <mat-expansion-panel-header >REGISTRATION
          <mat-panel-description style="color: #c76b15">
            <mat-icon *ngIf="!x.expanded">people</mat-icon>
            <mat-icon *ngIf="x.expanded">arrow_drop_down</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-9">
              <mat-action-row class="sidebar_button">EMPLOYEE
                <i class="material-icons icn">person_add</i>
              </mat-action-row>

              <mat-action-row class="sidebar_button">CUSTOMER
                <i class="material-icons icn">person_add</i>
              </mat-action-row>

              <mat-action-row class="sidebar_button">SUPPLIER
                <i class="material-icons icn">person_add</i>
              </mat-action-row>
            </div>
          </div>
      </mat-expansion-panel >
    </div>
    <br>
    <div>
      <mat-expansion-panel style="background-color: #28343a" class="mb-15px" hideToggle="true" #y>
        <mat-expansion-panel-header>STORE
          <mat-panel-description style="color: #c76b15">
            <mat-icon *ngIf="!y.expanded">store</mat-icon>
            <mat-icon *ngIf="y.expanded">arrow_drop_down</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-9">
              <mat-action-row class="sidebar_button">SEARCH
                <i class="material-icons icn">search</i>
              </mat-action-row>

              <mat-action-row class="sidebar_button">ADD
                <i class="material-icons icn">add_to_queue</i>
              </mat-action-row>
            </div>
          </div>
      </mat-expansion-panel>
    </div>
    <br>
    <div>
      <mat-expansion-panel style="background-color: #28343a" class="mb-15px" hideToggle="true" #z>
        <mat-expansion-panel-header>ORDERS
          <mat-panel-description style="color: #c76b15">
            <mat-icon *ngIf="!z.expanded">add_shopping_cart</mat-icon>
            <mat-icon *ngIf="z.expanded">arrow_drop_down</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
          <div class="row">
            <div class="col-md-9">
              <mat-action-row>ORDERS
                <i class="material-icons icn">shop</i>
              </mat-action-row>
            </div>
          </div>
      </mat-expansion-panel>
    </div>
    <br>


  </mat-accordion>

</div>
