<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened>
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec; min-height: 1000px;">

              <br />
              <div class="test">
                <h2 class="topic">MAKE A RESERVAION</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <!-- ***************************************************NEW RESERVATION************************************************************************** -->
                  <mat-tab label="NEW RESERVATION">
                    <form [formGroup]="reservationForm">

                      <mat-card>
                        <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 5px" />

                        
                        <br>

                        <div class="row text-center">
                          <div class="col-md-4">
                            <div class="btn-group">
                              <div
                                class="btn btn-primary"
                                mwlCalendarPreviousView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                (viewDateChange)="viewDateChange.next(viewDate)"
                              >
                                Previous
                              </div>
                              <div
                                class="btn btn-outline-secondary"
                                mwlCalendarToday
                                [(viewDate)]="viewDate"
                                (viewDateChange)="viewDateChange.next(viewDate)"
                              >
                                Today
                              </div>
                              <div
                                class="btn btn-primary"
                                mwlCalendarNextView
                                [view]="view"
                                [(viewDate)]="viewDate"
                                (viewDateChange)="viewDateChange.next(viewDate)"
                              >
                                Next
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
                          </div>
                          <div class="col-md-4">
                            <div class="btn-group">
                              <div
                                class="btn btn-primary"
                                (click)="viewChange.emit(CalendarView.Month)"
                                [class.active]="view === CalendarView.Month"
                              >
                                Month
                              </div>
                              <div
                                class="btn btn-primary"
                                (click)="viewChange.emit(CalendarView.Week)"
                                [class.active]="view === CalendarView.Week"
                              >
                                Week
                              </div>
                              <div
                                class="btn btn-primary"
                                (click)="viewChange.emit(CalendarView.Day)"
                                [class.active]="view === CalendarView.Day"
                              >
                                Day
                              </div>
                            </div>
                          </div>
                        </div>


                        <!-- dsds -->
                        <br />
                        <div [ngSwitch]="view">
                          <mwl-calendar-month-view
                            *ngSwitchCase="CalendarView.Month"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            [activeDayIsOpen]="activeDayIsOpen"
                            (dayClicked)="dayClicked($event.day)"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                          >
                          </mwl-calendar-month-view>
                          <mwl-calendar-week-view
                            *ngSwitchCase="CalendarView.Week"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                          >
                          </mwl-calendar-week-view>
                          <mwl-calendar-day-view
                            *ngSwitchCase="CalendarView.Day"
                            [viewDate]="viewDate"
                            [events]="events"
                            [refresh]="refresh"
                            (eventClicked)="handleEvent('Clicked', $event.event)"
                            (eventTimesChanged)="eventTimesChanged($event)"
                          >
                          </mwl-calendar-day-view>
                        </div>
                        
                        <br>
                        <div *ngIf="!isShow">
                          <button mat-raised-button (click)=show() type="submit"
                          class="my-4 btn-block reg_btn ">
                          MAKE A RESERVATION
                        </button>
                        </div>
                        <br>

                        <div *ngIf="isShow">
                          <div class="form-row mb-4">
                            
                            <mat-form-field appearance="outline">
                              <mat-label>Choose a date</mat-label>
                              <input matInput [matDatepicker]="picker" formControlName="daterequested"
                                name="daterequested" type="datetime" date-time min-view="date" auto-close="true"
                                view="date" maxlength="10" format="yyyy-MM-dd">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            
                            
                            <mat-form-field appearance="outline">
                              <mat-label>Choose a time</mat-label>
                              <input matInput formControlName="time" name="time" aria-label="default time"
                                [ngxTimepicker]="defaultValue" value="'0:00 am'" [(ngModel)]="time" />
                              <ngx-material-timepicker #defaultValue></ngx-material-timepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                              
                              <mat-select placeholder="Job Type:" formControlName="repairtype" name="repairtype">
                                <mat-option value="Paint Job">Paint Job</mat-option>
                                <mat-option value="Accident Repair">Accident Repair</mat-option>
                                <mat-option value="Vehicle Valuation">Vehicle Valuation</mat-option>
                                <mat-option value="Full Service">Full Service</mat-option>
                                <mat-option value="Other">Other</mat-option>
                              </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                              <mat-label>Problem in brief:</mat-label>
                              <textarea matInput formControlName="problembrief" name="problembrief"></textarea>
                            </mat-form-field>
                          </div>
                          <button mat-raised-button (click)=addReservation() type="submit"
                            class="my-4 btn-block reg_btn ">
                            Request
                          </button>

                          <button mat-raised-button (click)=cancel() type="submit" class="my-4 btn-block btn_1  ">
                            Cancel
                          </button>
                      </div>


                      </mat-card>
                    </form>
                  </mat-tab>

                  <!-- ======================================= MY RESERVATIONS ============================================ -->
                  <mat-tab label="MY RESERVATIONS">
                    <mat-card>
                      <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 10px" />
                      <br>
                      <h3 class="topic" style="margin-left: -600px;">SELECT JOB TYPE:</h3>
                      <div class="form-row mb-4">
                        <mat-form-field appearance="outline">
                          <mat-select placeholder="Job Type" [(ngModel)]="repairtype_1"
                            (ngModelChange)="selectJob_1($event)">
                            <mat-option value="Paint Job">Paint Job</mat-option>
                            <mat-option value="Accident Repair">Accident Repair</mat-option>
                            <mat-option value="Vehicle Valuation">Vehicle Valuation</mat-option>
                            <mat-option value="Full Service">Full Service</mat-option>
                            <mat-option value="Other">Other</mat-option>
                            <mat-option value="all">ALL</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- {{searchText}} -->
                      </div>
                      <br>
                      <br>
                      <div>
                        <table class="mat-elevation-z8 table" mat-table [dataSource]="dataSource_1">


                          <!-- User Type Column -->
                          <ng-container matColumnDef="repairtype">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> JOB
                              TYPE </th>
                            <td mat-cell *matCellDef="let element"> {{element.repairtype}} </td>
                          </ng-container>

                          <!-- User Type Column -->
                          <ng-container matColumnDef="daterequested">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;">
                              REQUESTED DATE </th>
                            <td mat-cell *matCellDef="let element"> {{element.daterequested}} </td>
                          </ng-container>

                          <!-- First Name Column -->
                          <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;">
                              REQUESTED TIME </th>
                            <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                          </ng-container>

                          <!-- E-mail Column -->
                          <ng-container matColumnDef="problembrief">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> PROBLEM
                              DESCRIPTION </th>
                            <td mat-cell *matCellDef="let element"> {{element.problembrief}} </td>
                          </ng-container>

                          <!-- User Type Column -->
                          <ng-container matColumnDef="dateaccepted">
                              <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> ACCEPTED ON </th>
                              <td mat-cell *matCellDef="let element"> {{element.dateaccepted}} </td>
                            </ng-container>

                          <!-- <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> ACTION
                            </th>
                            <td mat-cell *matCellDef="let element">
                             
                              <button mat-raised-button type="submit" (click)="viewReservation(element)" class="rep_btn"
                                color="primary">ACCEPT</button>
                            </td>
                          </ng-container> -->


                          <tr mat-header-row *matHeaderRowDef="displayedColumns_1"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns_1;"></tr>
                        </table>

                        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                      </div>
                      
                    </mat-card>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>






