.add_btn {
  color: aliceblue;
  background-color: rgb(0, 140, 255);
  border-color: rgb(0, 140, 255);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.add_btn:hover {
  color: #000000;
  transition: 0.5s;
}
.can_btn {
  color: aliceblue;
  background-color: rgb(221, 81, 112);
  border-color: rgb(221, 81, 112);
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
