<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened>
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec;">
              <br />
              <div class="test">
                <button [routerLink]="['/searchUser']" mat-icon-button aria-label="Back"
                  style="float: left; padding-left: 0px; padding-bottom: 20px;">
                  <mat-icon>arrow_back</mat-icon>
                </button>
                <h2 class="topic">VIEW USER</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-card class="p-5 reg-frm">
                  <div class="container">

                    <div class="header">
                      <div class="avatar-container" (click)="onChangeAvatar()">
                        <img class="avatar">
                        <div class="avatar-hover">
                          <mat-icon>camera_alt</mat-icon>
                        </div>
                      </div>
                      <div class="user-detail-container">
                        <div class="mat-display-2 compact"> first name</div>
                        <h2 class="mat-display-1 compact">last name</h2>
                        <div>Email</div>
                        <button class="edit-button" mat-stroked-button color="primary"
                          (click)="onEditUser()">Edit</button>
                      </div>
                    </div>

                  </div>
                  <mat-divider></mat-divider>

                  <div class="container">

                    <mat-grid-list cols="4" rowHeight="2:1">
                      <mat-grid-tile>
                        <mat-card style="width: 220px; text-align: center;">
                          <mat-card-title>Employee ID:</mat-card-title>
                          <mat-card-content>
                            <p>
                              A002
                            </p>
                          </mat-card-content>
                        </mat-card>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-card style="width: 220px; text-align: center;">
                          <mat-card-title>NIC Number:</mat-card-title>
                          <mat-card-content>
                            <p>
                              962312608v
                            </p>
                          </mat-card-content>
                        </mat-card>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-card style="width: 220px; text-align: center;">
                          <mat-card-title>Contact Number:</mat-card-title>
                          <mat-card-content>
                            <p>
                              071 6816135
                            </p>
                          </mat-card-content>
                        </mat-card>
                      </mat-grid-tile>
                      <mat-grid-tile>
                        <mat-card style="width: 220px; text-align: center;">
                          <mat-card-title>User Category:</mat-card-title>
                          <mat-card-content>
                            <p>
                              Customer
                            </p>
                          </mat-card-content>
                        </mat-card>
                      </mat-grid-tile>

                    </mat-grid-list>

                    <mat-divider></mat-divider>

                    <mat-card class="section">
                      <p>Address : Thanamalwila</p>
                    </mat-card>

                    <!-- if Admin -->
                    <mat-card class="section" style="text-align: center;">
                      <!-- <div *ngIf="cookies.userData.usertype == 'Administrator' && userflag"> -->
                      <mat-card-title> VEHICLE DETAILS
                        <button mat-raised-button type="submit" class="my-4 btn-block veh_btn">
                          <mat-icon>add</mat-icon>NEW
                        </button>
                      </mat-card-title>
                      <mat-card-content>
                        <div class="mat-elevation-z8"
                          style="width:55%; margin-bottom: 10px; margin-left: 300px; margin-top: 20px;">
                          <table class="table ">
                            <thead>
                              <tr>
                                <th>VEHICLE REG. No</th>
                                <th>CHASIS</th>
                                <th>ENGINE No</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>12345</td>
                                <td>67890</td>
                                <td>12345</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </mat-card-content>
                      <!-- </div> -->
                    </mat-card>
                    <br>
                    <br>

                    <!-- if Admin -->
                    <div>
                      <mat-divider></mat-divider><br>
                      <p>AddOn : 10am</p>
                      <p>Modified On : 10am</p>
                      <p>Modified By : lalinda</p>
                    </div>

                  </div>

                </mat-card>

              </div>
            </div>
          </div>
        </div>
      </div>



    </mat-sidenav-content>
  </mat-sidenav-container>
</div>