<div class="row">
  <div class="container-fluid">
    <div class="row">

      <div class="container-fluid " style="background-color:#F8F9FA; min-height: 600px;">
        <div>
          <div class="container" style="padding-top: 50px">
            <h2 class="topic">USER REGISTRATION</h2>
          </div>
            <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">

              <mat-tab-group>
<!-- **************************************************************************************************************************** -->
                <mat-tab label="REGISTER EMPLOYEE ">

                    <mat-card class="border text-center p-5 reg-frm" [formGroup]="">
                      <div class="form-row mb-4">
                        <label>Employee Name :</label>
                        <!-- <input
                          [class.is-invalid]="
                            CertificationForm.get('certName').invalid &&
                            CertificationForm.get('certName').touched
                          "
                          formControlName="certName"
                          type="text"
                          class="form-control box_border"
                        /> -->
                        <!-- <small
                          [class.d-none]="
                            CertificationForm.get('certName').valid ||
                            CertificationForm.get('certName').untouched
                          "
                          class="text-danger"
                          >Name is required *</small
                        > -->

                      </div>
                    </mat-card>
                </mat-tab>
<!-- **************************************************************************************************************************** -->
                <mat-tab label="REGISTER CUSTOMER ">

                  World
                </mat-tab>
              </mat-tab-group>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
