<div style="padding-top: 60px;">
    <mat-sidenav-container>
      <mat-sidenav class="example-container" #sidenav mode="side" opened>
        <app-main></app-main>
      </mat-sidenav>
      <mat-sidenav-content>

        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="container-fluid" style="background-color: #ddddec; background-image: linear-gradient(to bottom right, #fdfcfb,#2f3a46);">
                <br />
                <div class="test">
                  <h2 class="topic">INVOICE HISTORY</h2>
                </div>
                <mat-divider></mat-divider>
                <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                  <mat-tab-group class="p-5 reg-frm">

                    <mat-tab label="GENERATE INVOICES">
                        <mat-card>
                            <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 10px" />
                            <br>

                            <br>
                            <br>
                            <div class="mat-elevation-z8">


                              <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                            </div>

                          </mat-card>

                    </mat-tab>
                    <!-- ***************************************************************************** View Store  ************************************************************************** -->

                    <mat-tab label="VIEW ALL ITEMS" *ngIf="!dataform">
                      <mat-card>
                        <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 10px" />
                        <br>

                        <br>
                        <br>
                        <div class="mat-elevation-z8">


                          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>

                      </mat-card>
                    </mat-tab>

                  </mat-tab-group>

                </div>

              </div>
            </div>
          </div>

        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
