<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened>
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec; min-height: 1300px; background-image: linear-gradient(to bottom right, #fdfcfb,#2f3a46);">
              <!-- <span><mat-icon>menu
                  <button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button>

                </mat-icon>
                </span> -->
              <br />
              <div class="test">
                <h2 class="topic">PURCHASE ORDERS</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <!-- ***************************************************PENDING APPROVAL************************************************************************** -->
                  <mat-tab label="PENDING APPROVAL">
                    <mat-card>
                      <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 5px" />
                      <div>
                        <table>
                          <thead style="font-size: 13px;">
                            <tr>
                              <th>DATE APPLIED</th>
                              <th>ITEM ID</th>
                              <th>QAUNTITY</th>
                              <th>STATUS</th>
                              <th>SUPPLIER ID</th>
                              <th>DATE RECEIVED</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody class="pending-approval-table-body" style="font-size: 13px;">
                            <tr *ngFor="let k of pendingOrders">
                              <td>{{k.dateApplied || 'N/A' | date }}</td>
                              <td>{{k.itemid || 'N/A'}}</td>
                              <td>{{k.quantity || 'N/A'}}</td>
                              <td>{{k.status  || 'N/A'}}</td>
                              <td>{{k.supplierid || 'N/A'}}</td>
                              <td>{{k.dateReceived || 'N/A'}}</td>
                              <td>
                                <button mat-mini-fab type="submit" matTooltip="Approve Order"
                                  class="my-4 btn-block rep_btn" (click)="approveOrder(k)">
                                  <span class="material-icons">
                                    done
                                  </span>
                                </button>
                                <button mat-mini-fab type="submit" class="my-4 btn-block del_btn" (click)="clear()"
                                  matTooltip="Cancel Order">
                                  <span class="material-icons">
                                    clear
                                  </span>
                                </button>
                                <!-- <button mat-icon-button type="submit" class=" btn-block table_btn">
                                  <mat-icon>notification_important</mat-icon>
                                </button> -->
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </mat-card>
                  </mat-tab>

                  <!-- ***************************************************APPROVED ORDERS************************************************************************** -->

                  <mat-tab label="APPROVED ORDERS">
                    <mat-card>
                      <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 5px" />
                      <div>
                        <table class="purchase-orders-table">
                          <thead style="font-size: 13px;">
                            <tr>
                              <th>DATE APPLIED</th>
                              <th>ITEM ID</th>
                              <th>QAUNTITY</th>
                              <th>STATUS</th>
                              <th>SUPPLIER ID</th>
                              <th>DATE RECEIVED</th>
                            </tr>
                          </thead>
                          <tbody class="pending-approval-table-body" style="font-size: 13px;">
                            <tr *ngFor="let k of approvedOrders">
                              <td>{{k.dateApplied || 'N/A'  | date }}</td>
                              <td>{{k.itemid || 'N/A'}}</td>
                              <td>{{k.quantity || 'N/A'}}</td>
                              <td>{{k.status || 'N/A'}}</td>
                              <td>{{k.supplierid || 'N/A'}}</td>
                              <td>{{k.dateReceived || 'N/A'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </mat-card>
                  </mat-tab>

                </mat-tab-group>

              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
