<div class="row footer"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">


<div class="container" style="width: 90%;">
  <div fxLayout="row">
    <div style="width: 30%; margin: auto; padding-top: 40px; align-content: center;"  >
        <a class="navbar-brand">
          <img src="../../../../assets/logo/cc_croped.png" class="logo" routerLink="/" >
        </a>
        <mat-nav-list fxLayout="row">
          <mat-list-item>
            <span >
              <button mat-button routerLink="" class="btn">
                <mat-icon>home</mat-icon>
              <span>Home</span>
              </button>
            </span>
          </mat-list-item>
          <mat-list-item>
            <span >
              <button mat-button routerLink="/contact" class="btn ">
                <mat-icon>call</mat-icon>
              <span>Contact</span>
              </button>
            </span>
          </mat-list-item>
          <mat-list-item>
            <span >
              <button mat-button href="https://goo.gl/maps/kzpBeKScY7NGqfgE9" class="btn ">
                <mat-icon>pin_drop</mat-icon>
              <span>Locate</span>
              </button>
            </span>
          </mat-list-item>
        </mat-nav-list>
    </div>




    <div style="text-align:left; align-content: center; width: 30%; margin: auto; ">
      <div style="width: 300px; margin: auto; padding-top: 40px; align-content: center;"  >
        <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg "></i></a>
        <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
        <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
        <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
        <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
        <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
      </div>

    </div>

    <div style="text-align:left;  width: 30%; margin: auto; ">
      <div class="row" style="color: #cfdadf; padding-bottom: 10px;">
        <div class="col-md-1   col-xs-1 ">
            <i class="material-icons" style="color:#c76b15; padding-right: 10px;">pin_drop</i> 412A , Pamburana-Matara Rd, Matara - Sri Lanka
        </div>
      </div>
      <div class="row" style="color: #cfdadf; padding-bottom: 10px;">
        <div class="col-md-1  col-xs-1 ">
            <i class="material-icons" style="color:#c76b15; padding-right: 10px;">contact_phone</i>  +94412223120
        </div>
      </div>
      <div class="row" style="color: #cfdadf; padding-bottom: 10px;">
        <div class="col-md-1  col-xs-1 ">
            <i class="material-icons" style="color:#c76b15; padding-right: 10px;">message</i>  +94 712 123 456
        </div>
      </div>
      <div class="row" style="color: #cfdadf; padding-bottom: 10px;">
        <div class="col-md-1  col-xs-1 ">
          <i class="material-icons" style="color:#c76b15; padding-right: 10px;">mail_outline</i>  automosoft@gmail.com

        </div>
      </div>

    </div>
  </div>
</div>


<div style="width:100%" class="container">
  <hr style="border-top: white">
  <p style="color:white;text-align: center;">© Copyright 2020 AutomoSoft</p>
  <p class="footer_design">WEB Designed by <a class="a">Three8 Inc.&reg;</a></p>
</div>
</div>
