<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened>
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec;">
              <br />
              <div class="test">
                <h2 class="topic">CREATE INVOICE</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <mat-tab label="GENERATE INVOICES">
                      <mat-card>
                          <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 10px" />

                          <form [formGroup]="withdrawalForm">
                            <mat-form-field class="no-padding" style="width:80%;" appearance="outline">
                              <mat-label>Invoice No</mat-label>
                              <input matInput name="invoiceno" formControlName="invoiceNo" placeholder="INV001" />
                              <mat-icon matSuffix></mat-icon>
                            </mat-form-field>

                            <!-- <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                              <mat-label>Invoice Date</mat-label>
                              <input matInput [matDatepicker]="picker"  formControlName="invoiceDate">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field> -->

                            <!-- <mat-form-field class="no-padding" style="width:80%;" appearance="outline">
                              <mat-label>PO</mat-label>
                              <input matInput name="po" formControlName="po" placeholder="INV001" />
                              <mat-icon matSuffix></mat-icon>
                            </mat-form-field> -->

                            <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                              <mat-label>Job Number</mat-label>
                            <mat-select name="job" formControlName="job" placeholder="" (selectionChange)="selectJob()">
                              <mat-option *ngFor="let job of jobs" [value]="job">{{job.jobNo}}</mat-option>
                            </mat-select>
                            </mat-form-field>

                            <mat-form-field *ngIf="getData" class="no-padding" style="width:80%" appearance="outline">
                              <mat-label>Job Date</mat-label>
                              <input readonly matInput name="jobDate" formControlName="jobDate" placeholder="" [ngModel]="getData.addedon" />
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>


                          <mat-form-field *ngIf="getData" class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Customer ID</mat-label>
                            <input readonly matInput name="customerid" formControlName="customerid" placeholder="" [ngModel]="getData.custId" />
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>

                          <div style="display:inline-flex; width: 80%;" >

                            <mat-form-field *ngIf="getData" style="width:50%;" appearance="outline" >
                              <mat-label>First name</mat-label>
                              <input matInput name="firstName" formControlName="firstName" placeholder="Ex-Kavini" [(ngModel)]="getData.firstName"/>
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>

                            <mat-form-field *ngIf="getData"style="width: 50%;margin-left: 2px;" appearance ="outline" >
                              <mat-label>Last name</mat-label>
                              <input matInput name="lastName" formControlName="lastName" placeholder="Ex-Nanayakkara"[(ngModel)]="getData.lastName" />
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>

                          </div>

                          <mat-form-field *ngIf="getData" class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Vehicle Number </mat-label>
                            <input readonly matInput name="vehicleNo" formControlName="vehicleNo" placeholder="" [ngModel]="getData.vehicle.vehicleRegNo"/>
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>

                          <mat-form-field *ngIf="getData" class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Engine No </mat-label>
                            <input readonly matInput name="EngineNo" formControlName="engineNo" placeholder="" [ngModel]="getData.vehicle.EngineNo"/>
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>

                          <br>

                          <div class="mat-elevation-z8" *ngIf="getData" style="width:60%; margin-bottom: 10px; margin: auto; margin-top: 20px;">
                                  <table class="table ">
                                    <thead>
                                      <tr>
                                        <th>ITEM NO</th>
                                        <th>ITEM NAME</th>
                                        <th>QUANTITY</th>
                                        <th>UNIT PRICE</th>
                                        <th>TOTAL PRICE</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let k of getData.itemsUsed">
                                        <td>{{k.itemId}}</td>
                                        <td>{{k.itemname}}</td>
                                        <td>{{k.qty}}</td>
                                        <td>{{k.unitprice}}</td>
                                        <td>{{k.charge}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                          <br>

                          <div>

                          </div>

                          <mat-form-field *ngIf="getData" class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Sub Total</mat-label>
                            <input matInput name="subTotal" formControlName="subTotal" placeholder="Total Amount" [ngModel]="calculateTotal()" />
                            <mat-icon matSuffix></mat-icon>
                            <mat-icon matSuffix>functions</mat-icon>
                          </mat-form-field>

                          <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Tax</mat-label>
                            <input matInput name="tax" formControlName="tax" placeholder="%" />
                            <mat-icon matSuffix>add</mat-icon>
                          </mat-form-field>

                          <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Grand Total</mat-label>
                            <input matInput name="grandTotal" formControlName="grandTotal" placeholder="Grand Total with taxes" [ngModel]="calculateGrandTotal()" />
                            <mat-icon matSuffix>receipt</mat-icon>
                          </mat-form-field>

                          <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Amount Paid</mat-label>
                            <input matInput name="amountPaid" formControlName="amountPaid" placeholder="Amount Paid" />
                            <mat-icon matSuffix>receipt</mat-icon>
                          </mat-form-field>

                          <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Balance</mat-label>
                            <input matInput name="balance" formControlName="balance" placeholder="Balance"  [ngModel]="calculateremBalance()" />
                            <mat-icon matSuffix>receipt</mat-icon>
                          </mat-form-field>

                          <mat-form-field appearance="outline" style="display:block; width:80%; margin: auto;">
                            <mat-label>Special Note(If any)</mat-label>
                            <textarea matInput rows="4" name="note" formControlName="note"
                              placeholder="Leave your note">
                            </textarea>
                            <mat-icon matSuffix>insert_comment</mat-icon>
                          </mat-form-field>

                          <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Created By</mat-label>
                            <input matInput readonly name="foremanid" formControlName="createdBy" placeholder="" [ngModel]="cookie">
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>

                          <div class="button-container">
                            {{withdrawalForm.value.firstName| json}}
                            <button mat-button type="submit" class="reg_btn" (click)="createInvoice()">
                              Create
                            </button>
                            <button mat-button type="submit" class="del_btn" (click)="clear()">
                              Cancel
                            </button>
                          </div>





                          <br>
                        </form>

                        </mat-card>

                  </mat-tab>

                </mat-tab-group>

              </div>

            </div>
          </div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
