<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened>
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec;">
              <br />
              <div class="test">
                <h2 class="topic">CREATE INVOICE</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <mat-tab label="GENERATE INVOICES">
                      <mat-card>
                          <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 10px" />

                          <form [formGroup]="withdrawalForm">
                            <mat-form-field class="no-padding" style="width:80%;" appearance="outline">
                              <mat-label>Invoice No</mat-label>
                              <input matInput name="invoiceno" formControlName="invoiceNo" placeholder="INV001" />
                              <mat-icon matSuffix></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                              <mat-label>Invoice Date</mat-label>
                              <input matInput [matDatepicker]="picker"  formControlName="invoiceDate">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="no-padding" style="width:80%;" appearance="outline">
                              <mat-label>PO</mat-label>
                              <input matInput name="po" formControlName="po" placeholder="INV001" />
                              <mat-icon matSuffix></mat-icon>
                            </mat-form-field>

                            <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                              <mat-label>Job Number</mat-label>
                            <mat-select name="job" formControlName="job" placeholder="" (selectionChange)="selectJob()">
                              <mat-option *ngFor="let job of jobs" [value]="job">{{job.jobNo}}</mat-option>
                            </mat-select>
                            </mat-form-field>
                            <mat-form-field *ngIf="getData" class="no-padding" style="width:80%" appearance="outline">
                              <mat-label>Job Date</mat-label>
                              <input readonly matInput name="jobDate" formControlName="jobDate" placeholder="" [ngModel]="getData.addedon" />
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>


                          <mat-form-field *ngIf="getData" class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Customer ID</mat-label>
                            <input readonly matInput name="customerid" formControlName="customerid" placeholder="" [ngModel]="getData.custId" />
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>
                          <div style="display:inline-flex; width: 80%;" >
                            <mat-form-field *ngIf="getData" style="width:50%;" appearance="outline" >
                              <mat-label>First name</mat-label>
                              <input matInput name="firstName" formControlName="firstName" placeholder="Ex-Kavini" [(ngModel)]="getData.firstName"/>
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>

                            <mat-form-field *ngIf="getData"style="width: 50%;margin-left: 2px;" appearance ="outline" >
                              <mat-label>Last name</mat-label>
                              <input matInput name="lastName" formControlName="lastName" placeholder="Ex-Nanayakkara"[(ngModel)]="getData.lastName" />
                              <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                          </div>

                          <mat-form-field *ngIf="getData" class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Vehicle Number </mat-label>
                            <input readonly matInput name="vehicleNo" formControlName="vehicleNo" placeholder="" [ngModel]="getData.vehicle.vehicleRegNo"/>
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>
                          <mat-form-field *ngIf="getData" class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Engine No </mat-label>
                            <input readonly matInput name="EngineNo" formControlName="engineNo" placeholder="" [ngModel]="getData.vehicle.EngineNo"/>
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>

                          <br>
                          <!--Item details array-->
                          <div formArrayName="itemDetails">
                            <div *ngFor=" let team of withdrawalForm.get('itemDetails').controls;let teamIndex = index "
                              [formGroupName]="teamIndex">

                              <div style="display: inline-flex;width: 80%;">
                              <mat-form-field appearance="outline" style="width:25%;margin-right: 3px;margin-left: 4px;">
                                <mat-label>Item No::</mat-label>
                                <input matInput name="itemNo" formControlName="itemNo"
                                  placeholder="ex- P001" required>
                                <mat-icon matSuffix>settings</mat-icon>
                              </mat-form-field>

                              <mat-form-field appearance="outline" style="width:24%; margin-left: 3px;margin-right: 3px;">
                                <mat-label>Description:</mat-label>
                                <input matInput name="description" formControlName="description" required>
                                <mat-icon matSuffix></mat-icon>
                              </mat-form-field>

                              <mat-form-field appearance="outline" style="width:25%; margin-left: 3px;">
                                <mat-label>Quantitiy</mat-label>
                                <input matInput name="qty" formControlName="qty" required>
                                <mat-icon matSuffix>directions_car</mat-icon>
                              </mat-form-field>
                              <mat-form-field appearance="outline" style="width:25%; margin-left: 3px;">
                                <mat-label>Unit Price</mat-label>
                                <input matInput name="price" formControlName="price" required>
                                <mat-icon matSuffix></mat-icon>
                              </mat-form-field>
                            </div>
                            </div>
                            <div class="button-container">
                              <button mat-button type="submit" class="btn1" (click)="addVehicle()">
                                Add More
                              </button>
                            </div>
                          </div>
                          <br>

                          <div>
                            <!--<mat-card class="section" style="text-align: center;  border-radius: 10px;">

                              <mat-card-title> VEHICLE DETAILS
                                <button mat-raised-button type="submit" class="my-4 btn-block veh_btn"
                                  *ngIf="cookies.userData.usertype == 'Administrator'" (click)="addNew(userdata.userid)">
                                  <mat-icon>add</mat-icon>NEW
                                </button>
                              </mat-card-title>
                              <mat-card-content>-->
                                <div class="mat-elevation-z8"
                                  style="width:60%; margin-bottom: 10px; margin: auto; margin-top: 20px;">
                                  <table class="table ">
                                    <thead>
                                      <tr>
                                        <th>ITEM NO</th>
                                        <th>DESCRIPTION</th>
                                        <th>QUANTITY</th>
                                        <th>UNIT PRICE</th>
                                        <th>TOTAL PRICE</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let k of custVehicles">
                                        <td>{{k.vehicleRegNo}}</td>
                                        <td>{{k.chasis}}</td>
                                        <td>{{k.EngineNo}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              <!--</mat-card-content>
                               </div>
                            </mat-card>-->
                          </div>
                          <br>
                          <br>

                          <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Sub Total</mat-label>
                            <input matInput name="subTotal" formControlName="subTotal" placeholder="Total Amount" />
                            <mat-icon matSuffix></mat-icon>
                          </mat-form-field>
                          <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Tax</mat-label>
                            <input matInput name="tax" formControlName="tax" placeholder="Tax" />
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>
                          <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Grand Total</mat-label>
                            <input matInput name="grandTotal" formControlName="grandTotal" placeholder="Grand Total with taxes" />
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>

                          <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                            <mat-label>Created By</mat-label>
                            <input matInput name="foremanid" formControlName="foremanid" placeholder="" [ngModel]="userid"/>
                            <mat-icon matSuffix>person</mat-icon>
                          </mat-form-field>

                          <div class="button-container">
                            <!-- {{customerForm.value| json}} -->
                            <button mat-button type="submit" class="reg_btn" (click)="save()">
                              CREATE
                            </button>
                            <button mat-button type="submit" class="del_btn" (click)="clear()">
                              CANCEL
                            </button>
                          </div>





                          <br>

                          <br>
                          <br>
                          <div class="mat-elevation-z8">


                            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                          </div>
                        </form>

                        </mat-card>

                  </mat-tab>





                </mat-tab-group>

              </div>

            </div>
          </div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
