<div class="row">
  <div class="container-fluid">
    <div class="row">

      <div class="container-fluid " >
        <div>
         <div class="container" style="padding-top: 50px">
            <h2 class="topic">MAIL-BOX</h2>
          </div>
            <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
              <div class="First-card" *ngFor="let mail of filteredEmails" >
                <mat-grid-list cols="1" rowHeight="2:1" class="grid-list" >
                  <mat-grid-tile >
                    <mat-card class="card1">
                      <mat-card-header class="card-header">
                        <table>
                        <tr>
                          <td><i class="material-icons">account_circle </i></td>
                          <td >{{mail.name}}</td>
                        </tr>
                        <tr>
                          <td><i class="material-icons">email </i></td>
                          <td><a href="mailto:someone@example.com">{{mail.email}}</a></td>
                        </tr>
                      </table>

                      </mat-card-header>

                      <mat-card-content >

                        <table style="width: 100%;">
                          <tr>
                            <td style="width:70%; text-align: left; background-color: rgb(245, 204, 150); height: 60px; " >
                              <p style="margin-left: 20px">
                                {{mail.content}}
                              </p>
                            </td>
                            <td style="width:30%; background-color:rgb(245, 204, 150);height: 60px;">
                              <button class="btn" mat-raised-button color="accent" (click)="markAsRead(mail._id)">Mark As Read</button>
                              <!--<div style="bottom: 10px;position: absolute; right: 10px; height: 20px; background-color: crimson;">Date</div>-->

                            </td>

                          </tr>
                        </table>

                      </mat-card-content>


                    </mat-card>

                  </mat-grid-tile>

                </mat-grid-list>
              </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>

