.row{
  background-color: #333;
}
.First-card{
  width: 100%;
  text-align:center;
  margin: 0 auto;
  margin-top: 0;
  height: 200px;
  margin-bottom: 2rem;


}
.card1{
  width: 50%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin-top: 0em;
  padding: 0em;
  border-radius: 20px;
}
.vertically-center{
  margin:0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.card-header{
  background-color:#28343a;
  margin-top: 0;
  padding-top: 0em;
  font-size: 14px;
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  //border-radius: 20px;
}
.btn{


  border-radius: 15px;
  background-color: #333ccc;

}
.grid-list{
  margin-top: 2rem;
  padding-top: 0em;

}

.test {
  margin-left: 100px;
}
.topic {
  color: #0a0929;
  font-weight: 400;
}
.example-container {
  background-color: #414142;
}

.body {
  background-color: white;
  // height: 100px;
}
.flashMessage {
  padding-top: 5px;
  height: 20px;
  margin-bottom: -10px;
  width: 100%;
}
#textbox {
  height: 200px;
}

.border {
  border-style: ridge;
  // box-shadow: 0px 5px 5px rgb(134, 132, 245);
  width: 1000px;
}
.box_border {
  border-radius: 3px;
}

.reg-frm {
  box-shadow: 0px 10px 10px rgb(134, 132, 245);
  background-color: rgb(255, 255, 255);
  padding-top: 10px;
  width: 65%;
  text-align: center;
  margin: auto;
  height: 1100x;
  margin-bottom: 10px;
  // border: 3px solid #414142;
  border-radius: 20px;
}
.test1 {
  width: 100%;
  background-color: #ddddec;

}
.make-gold{
  background-color: #4b4848;
  opacity: 0.9;
  font-weight: bold;

}

.my-4 btn-block table_btn{
  background-color: #0a0929;
}

