<div style="padding-top: 60px;">
    <mat-sidenav-container>
      <mat-sidenav class="example-container" #sidenav mode="side" opened >
        <app-main></app-main>
      </mat-sidenav>
      <mat-sidenav-content>

        <div class="row">
          <div class="container-fluid">
            <div class="row">
              <div class="container-fluid" style="background-color: #ddddec;">
                <br />
                <div class="test">
                  <h2 class="topic">TECHNICIANS</h2>
                </div>
                <mat-divider></mat-divider>
                <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                  <mat-tab-group class="p-5 reg-frm">


  <!-- ***************************************************************************** View All Technicians ************************************************************************** -->

                    <mat-tab label="VIEW ALL TECHNICIANS" *ngIf="!dataform">
                      <mat-card>
                        <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 10px" />
                        <br>
                        <h3 class="topic" style="margin-left: -600px;" >SELECT TECHNICIAN CATEGORY:</h3>
                        <div class="form-row mb-4">
                          <mat-form-field appearance="outline" >
                            <mat-select placeholder="Expertise" [(ngModel)]="jobCat" (ngModelChange)="selectTechnician($event)">
                              <mat-option value="Paint Job">Paint Job</mat-option>
                              <mat-option value="Accident Repair">Accident Repair</mat-option>
                              <mat-option value="Vehicle Valuation">Vehicle Valuation</mat-option>
                              <mat-option value="Full Service">Full Service</mat-option>
                              <mat-option value="Other">Other</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <!-- {{searchText}} -->
                        </div>
                        <br>
                        <br>
                        <div >
                          <table class="mat-elevation-z8 table" mat-table [dataSource]="dataSource">

                            <!-- User ID Column -->
                            <ng-container matColumnDef="userid">
                              <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> USER ID </th>
                              <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
                            </ng-container>

                            <!-- User Type Column -->
                            <ng-container matColumnDef="firstname">
                              <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> FIRST NAME </th>
                              <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                            </ng-container>

                            <!-- First Name Column -->
                            <ng-container matColumnDef="lastname">
                              <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;">  LAST NAME </th>
                              <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                            </ng-container>

                            <!-- E-mail Column -->
                            <ng-container  matColumnDef="capacity">
                              <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> CAPACITY </th>
                              <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
                            </ng-container>

                            <!-- contact No Column -->
                            <ng-container matColumnDef="currentjobCap">
                              <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> CURRENT WORK STATUS </th>
                              <td mat-cell *matCellDef="let element"> {{element.currentjobCap}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                              <th mat-header-cell  *matHeaderCellDef style="text-align: center; font-weight: 900;" > ACTION </th>
                              <td mat-cell *matCellDef="let element" >
                                   <button mat-raised-button  (click)="viewUser(element.userid)" type="submit" class="my-4 btn-block reg_btn"  >View Jobs</button>
                              </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table>

                          <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                        </div>

                      </mat-card>
                    </mat-tab>

                  </mat-tab-group>

                </div>

              </div>
            </div>
          </div>

        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

