<!-- <header>
  <div class="container">
    <a routerLink='/' class="logo">Test</a>
    <nav>
      <ul>
        <li><a routerLink='/registerUser'>Test01</a></li>
        <li><a routerLink='/login'>Test-Login</a></li>
      </ul>
    </nav>
  </div>
</header> -->

<div class="row" style="position: fixed; z-index: 10001; width: 100%;">
  <mat-toolbar class="navbar_shadow">
    <mat-toolbar-row>
      <span>
        <a class="navbar-brand">
          <img src="../../../../assets/logo/cc.png" class="logo" routerLink="/">
        </a>
      </span>
      <span class="example-spacer"></span>

      <span class="nav-itm nav_item" >
        <button mat-button routerLink="/contact" class="btn ">
          <mat-icon>touch_app</mat-icon>Contact Us
        </button>
        <button mat-button routerLink="/registerUser" class="btn ">
          <mat-icon>add_to_queue</mat-icon> Register
        </button>
      </span>
      <!-- <button mat-button routerLink="/login" class="btn ">
        <mat-icon>perm_identity</mat-icon>Login
      </button> -->
      <span class="nav-itm nav_item" *ngIf="!cookies.logingstatus">
        <button  mat-button routerLink="/login" class="btn ">Login</button>
      </span>
      <span class="nav-itm nav_item" *ngIf="cookies.logingstatus">
        <button  mat-button (click)="logoutUser()" class="btn ">Logout</button>
      </span>
      <!-- <span class="nav-itm nav_item"></span>

        <button mat-button routerLink="/" class="navbtn ">
        <button mat-button routerLink="/" class="btn ">
          <mat-icon>home</mat-icon>
        </button>
      -->

      <!-- <span class="nav-itm nav_item" *ngIf="cookies.logingstatus && cookies.userData.usertype != 'Administrator'" >
        <button mat-button routerLink="/menu" (click)="menu()" class="btn">
          <mat-icon>menu</mat-icon>&nbsp;Menu
        </button>
      </span> -->
      <!-- <span class="nav-itm nav_item" *ngIf="cookies.logingstatus && cookies.userData.usertype == 'Administrator'" >
        <button mat-button routerLink="/menu" (click)="portal()" class="btn">
          <mat-icon>menu</mat-icon>&nbsp;Portal
        </button>
      </span>
      <div class="nav-itm nav_item" *ngIf="cookies.logingstatus">
        <button mat-button routerLink="/profile" (click)="userProfile()" class="btn ">
          <mat-icon>person</mat-icon>&nbsp; {{cookies.profile}}
        </button>
      </div>
      <span class="nav-itm nav_item" *ngIf="!cookies.logingstatus">
        <button  mat-button routerLink="/login" class="btn ">Login</button>
      </span>

      <span class="nav-itm nav_item" *ngIf="cookies.logingstatus">

        <button

          mat-button (click)="logoutUser()" class="btn ">Logout</button>
      </span> -->
      <!-- *ngIf="usertype == 'Administrator' || usertype == 'Student' || usertype == 'Teacher' || usertype == 'Principal' || usertype == 'Parent' " -->


    </mat-toolbar-row>
  </mat-toolbar>
</div>


