<!-- <header>
  <div class="container">
    <a routerLink='/' class="logo">Test</a>
    <nav>
      <ul>
        <li><a routerLink='/registerUser'>Test01</a></li>
        <li><a routerLink='/login'>Test-Login</a></li>
      </ul>
    </nav>
  </div>
</header> -->

<div class="row" style="position: fixed; z-index: 1000; width: 100%;">
  <mat-toolbar class="navbar_shadow">
    <mat-toolbar-row>
      <span>
        <a class="navbar-brand">
          <img src="../../../../assets/logo/cc.png" class="logo" routerLink="/">
        </a>
      </span>
      <span class="example-spacer"></span>

      <span class="nav-itm nav_item" >
        <button mat-button routerLink="/contact" class="btn ">
          <mat-icon>touch_app</mat-icon>Contact Us
        </button>
      </span>
      <!-- //insert click here for normal user-->
      <span class="nav-itm nav_item" *ngIf="cookies.logingstatus && cookies.userData.usertype != 'Administrator'" >
        <button mat-button routerLink="/menu"  class="btn">
          <mat-icon>menu</mat-icon>&nbsp;Menu
        </button>
      </span>
      <!-- insert click here for admin -->
      <span class="nav-itm nav_item" *ngIf="cookies.logingstatus && cookies.userData.usertype == 'Administrator'" >
        <button mat-button routerLink="/menu"  class="btn">
          <mat-icon>menu</mat-icon>&nbsp;Portal
        </button>
      </span>

      <span class="nav-itm nav_item" *ngIf="cookies.logingstatus">
        <button mat-button routerLink="/profile"  class="btn ">
          <mat-icon>person</mat-icon>&nbsp; {{cookies.userData.usertype}}
          <!-- {{cookies.profile}}(click)="userProfile()" -->
        </button>
      </span>

      <span class="nav-itm nav_item" *ngIf="!cookies.logingstatus">
        <button  mat-button routerLink="/login" class="btn ">
          <mat-icon>perm_identity</mat-icon> Login
        </button>
      </span>
      <span class="nav-itm nav_item" *ngIf="cookies.logingstatus">
        <button  mat-button (click)="logoutUser()" class="btn ">Logout</button>
      </span>


    </mat-toolbar-row>
  </mat-toolbar>
</div>


