<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened >
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec;">
              <br />
              <div class="test">
                <h2 class="topic">STOCK WITHDRAWAL</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <mat-tab>
                    <mat-card style="margin: auto; width: 60%;">
                      <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 10px" />

                      <form [formGroup]="withdrawalForm">


                        <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                          <mat-label>Job Number</mat-label>
                        <mat-select name="job" formControlName="job" placeholder="" (selectionChange)="selectJob()">
                          <mat-option *ngFor="let job of jobs" [value]="job">{{job.jobNo}}</mat-option>
                        </mat-select>
                        </mat-form-field>


                      <mat-form-field *ngIf="selectedJob" class="no-padding" style="width:80%" appearance="outline">
                        <mat-label>Customer ID</mat-label>
                        <input readonly matInput name="customerid" formControlName="customerid" placeholder="" [ngModel]="selectedJob.custId" />
                        <mat-icon matSuffix>person</mat-icon>
                      </mat-form-field>

                      <mat-form-field *ngIf="selectedJob" class="no-padding" style="width:80%" appearance="outline">
                        <mat-label>Vehicle Number </mat-label>
                        <input readonly matInput name="vehicleNo" formControlName="vehicleNo" placeholder="" [ngModel]="selectedJob.vehicle.vehicleRegNo"/>
                        <mat-icon matSuffix>person</mat-icon>
                      </mat-form-field>

                        <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                          <mat-label>Foreman ID</mat-label>
                          <input matInput name="foremanid" formControlName="foremanid" placeholder="" [ngModel]="userid"/>
                          <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>

                        <mat-form-field class="no-padding" style="width:80%" appearance="outline">
                          <mat-label>Collected by</mat-label>
                          <input matInput name="collectedby" formControlName="collectedby" placeholder="Technician's ID" />
                          <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>


                     <div style = "width: 100%;">
                        <mat-form-field class="no-padding" style="width: 70%;" appearance="outline">
                          <mat-label>Items</mat-label>
<!--                          <input matInput name="itemid" formControlName="itemid" placeholder="" />-->
                          <mat-select name="item" formControlName="item" placeholder="">
                            <mat-option *ngFor="let item of allItems" [value]="item">{{item.itemid}} | {{item.itemname}} | Stock: {{item.storequantity}}</mat-option>
                          </mat-select>
                          <mat-icon matSuffix></mat-icon>
                        </mat-form-field>

                        <mat-form-field class="no-padding" style="width: 20%;" appearance="outline">
                          <mat-label> Qty </mat-label>
                          <input matInput name="qty" formControlName="qty" placeholder="Qty" />
                        </mat-form-field>

                          <!-- {{customerForm.value| json}} -->
                          <button mat-button type="submit" class="reg_btn" (click)="addItem()">
                            Add
                          </button>
                          <button mat-button type="submit" class="can_btn" (click)="removeItem()">
                            Remove
                          </button>

                      </div>

                      <table>
                        <tbody>
                          <tr *ngFor= "let item of items">
                            <td>Item</td>
                            <td>{{item.itemId}}</td>
                            <td>Qty</td>
                            <td>{{item.qty}}</td>
                          </tr>
                        </tbody>
                      </table>


                      <div class="button-container">
                        <!-- {{customerForm.value| json}} -->
                        <button mat-button type="submit" class="reg_btn" (click)="save()">
                          Save
                        </button>
                        <button mat-button type="submit" class="can_btn" (click)="clear()">
                          Clear
                        </button>
                   </div>
                      </form>
                    </mat-card>

                  </mat-tab>

                </mat-tab-group>

              </div>

            </div>
          </div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>