<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened>
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec;">
              <br />
              <div class="test">
                <h2 class="topic">USER PROFILE</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">
                  <!-- ***************************************************************************** User Information************************************************************************************* -->

                  <mat-tab label="USER INFO">

                    <mat-card>
                      <div class="container">

                        <div class="header">
                          <div class="avatar-container">
                            <img class="avatar" src="http://localhost:3000/users/profileImage/{{userdata.filepath}}">
                            <div class="avatar-hover">
                              <mat-icon>camera_alt</mat-icon>
                            </div>
                          </div>
                          <div class="user-detail-container">
                            <div class="mat-display-2 compact"> {{userdata.firstname}}</div>
                            <h2 class="mat-display-1 compact">{{userdata.lastname}}</h2>
                            <div>{{userdata.email}}</div>

                            <br>


                          </div>
                        </div>

                      </div>
                      <mat-divider></mat-divider>
                      <br />

                      <div class="container">

                        <mat-grid-list cols="4" rowHeight="2:1">
                          <mat-grid-tile>
                            <mat-card style="width: 180px; text-align: center; border-radius: 10px;">
                              <mat-card-title>User ID:</mat-card-title>
                              <mat-card-content>
                                <p>
                                  {{userdata.userid}}
                                </p>
                              </mat-card-content>
                            </mat-card>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <mat-card style="width: 180px; text-align: center; border-radius: 10px;">
                              <mat-card-title>NIC :</mat-card-title>
                              <mat-card-content>
                                <p>
                                  {{userdata.nicnumber}}
                                </p>
                              </mat-card-content>
                            </mat-card>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <mat-card style="width: 180px; text-align: center; border-radius: 10px;">
                              <mat-card-title>Contact :</mat-card-title>
                              <mat-card-content>
                                <p>
                                  {{userdata.contactnumber}}
                                </p>
                              </mat-card-content>
                            </mat-card>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <mat-card style="width: 180px; text-align: center; border-radius: 10px;">
                              <mat-card-title>User Category:</mat-card-title>
                              <mat-card-content>
                                <p>
                                  {{userdata.usertype}}
                                </p>
                              </mat-card-content>
                            </mat-card>
                          </mat-grid-tile>

                        </mat-grid-list>

                        <mat-grid-list cols="3" rowHeight="2:1" *ngIf="userdata.usertype == 'Technician'">

                          <mat-grid-tile>
                            <mat-card style="width: 180px; text-align: center; border-radius: 10px;">
                              <mat-card-title>Expertise :</mat-card-title>
                              <mat-card-content>
                                <p>
                                  {{userdata.expertise}}
                                </p>
                              </mat-card-content>
                            </mat-card>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <mat-card style="width: 180px; text-align: center; border-radius: 10px;">
                              <mat-card-title>Capacity (Hrs) :</mat-card-title>
                              <mat-card-content>
                                <p>
                                  {{userdata.capacity}}
                                </p>
                              </mat-card-content>
                            </mat-card>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <mat-card style="width: 180px; text-align: center; border-radius: 10px;">
                              <mat-card-title>Current (Hrs) :</mat-card-title>
                              <mat-card-content>
                                <p>
                                  {{userdata.currentjobCap}}
                                </p>
                              </mat-card-content>
                            </mat-card>
                          </mat-grid-tile>

                        </mat-grid-list>

                        <br />
                        <mat-divider></mat-divider>
                        <mat-card class="section" style=" border-radius: 10px;">
                          <mat-card-title>Address :</mat-card-title>
                          <p>
                            {{userdata.address}}
                          </p>
                        </mat-card>

                        <div *ngIf="userflag">
                          <mat-card class="section" style="text-align: center;  border-radius: 10px;">

                            <mat-card-title> VEHICLE DETAILS</mat-card-title>
                            <mat-card-content>
                              <div class="mat-elevation-z8"
                                style="width:60%; margin-bottom: 10px; margin: auto; margin-top: 20px;">
                                <table class="table ">
                                  <thead>
                                    <tr>
                                      <th>VEHICLE REG. No</th>
                                      <th>CHASIS</th>
                                      <th>ENGINE No</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let k of custVehicles">
                                      <td>{{k.vehicleRegNo}}</td>
                                      <td>{{k.chasis}}</td>
                                      <td>{{k.EngineNo}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </mat-card-content>
                          </mat-card>
                        </div>
                        <br>
                        <br>

                        <div style="text-align: left;  border-radius: 10px;">
                          <mat-divider></mat-divider><br>
                          <p>Added On : {{userdata.addedon}}</p>
                          <p>Last Modified On : {{userdata.lastmodifiedon}}</p>
                          <p>Last Modified By : {{userdata.lastmodifiedby}}</p>
                        </div>

                      </div>

                    </mat-card>


                  </mat-tab>
                  <!-- ***************************************************************************** Service History (Customer) ************************************************************************** -->

                  <mat-tab label="SERVICE HISTORY" *ngIf="cookies.userData.usertype == 'Customer'">
                    hide this for non customers
                  </mat-tab>

                  <!-- ***************************************************************************** Job History (Technician - specific only) ************************************************************ -->

                  <mat-tab label="JOB HISTORY" *ngIf="cookies.userData.usertype == 'Technicians'">
                    show this only for technicians
                  </mat-tab>

                  <!-- ***************************************************************************** Job History (Forman - all jobs) ********************************************************************* -->

                  <mat-tab label="JOB HISTORY" *ngIf="cookies.userData.usertype == 'Foreman'">
                    show this only for forman
                  </mat-tab>
                </mat-tab-group>

              </div>

            </div>
          </div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>