body
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    overflow: hidden;
    background: #333;
}

.banner1,.banner2,.banner3,.banner4{
    height:100vh;
    width:100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.anim-back{
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.anim-back img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-out 8s linear infinite;
    background-attachment:scroll;
}

@keyframes zoom-out{
    100%{
        width: 100%;
    }
}

.text-box{
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color:#fff;
    animation: text-up 32s linear infinite;
    transform: translateY(100px);
}

.text-box h1{
    margin-bottom: 40px;
    font-size: 32px;
}

.text-box p{
    font-size: 18px;
    line-height: 18px;
    margin-top: 80px;
}

.text-box span{
    background-color: red;
    height: 2px;
    width: 100px;
    position: absolute;
    left: 0;
}

.banner1{
    animation: slide1 32s linear infinite;
}

.banner2{
    animation: slide2 32s linear infinite;
}

.banner3{
    animation: slide3 32s linear infinite;
}

.banner4{
    animation: slide4 32s linear infinite;
}

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes text-up{
    10%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

.text-box1{
    animation-delay: 0s;
}
.text-box2{
    animation-delay: 3s;
}
.text-box3{
    animation-delay: 6s;
}
.text-box4{
    animation-delay: 9s;
}


//parallax CSS

body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }

  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }

  .pimg1{
    background-image:url('../../../../assets/images/parallax/image1.jpg');
    min-height:100%;
  }

  .pimg2{
    background-image:url('../../../../assets/images/parallax/image2.jpg');
    min-height:400px;
  }

  .pimg3{
    background-image:url('../../../../assets/images/parallax/image3.jpg');
    min-height:400px;
  }

  .section{
    text-align:center;
    padding:80px 80px;
  }

  .section-bottom{
    text-align:center;
    padding:10px 10px;
  }

  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }

  .section-dark{
    //background-color:#282e34;
    background-color: #333;
    color:#ddd;
  }

  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }

  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }

  .ptext .border.trans{
    background-color:transparent;
  }

  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }



// Flip card CSS
// *{
//     margin: 0;
//     padding: 0;
//     text-decoration: none;
//     font-family: "montserrat";
//   }
  body{
    background: #333;
  }
  .middle{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .middleback{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .card{
    cursor: pointer;
    width: 340px;
    height: 480px;
  }
  .front,.back{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
  }
  .front img{
    height: 100%;
  }
  .front{
    transform: perspective(600px) rotateY(0deg);
  }
  .back{
    background: #f1f1f1;
    transform: perspective(600px) rotateY(180deg);
  }
  .back-content{
    color: #2c3e50;
    text-align: center;
    width: 100%;
  }
  .sm{
    margin: 20px 0;
  }
  .sm a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s;
    border-radius: 50%
  }
  .sm a:hover{
    background: #2c3e50;
    color: white;
  }
  .card:hover > .front{
    transform: perspective(600px) rotateY(-180deg);
  }
  .card:hover > .back{
    transform: perspective(600px) rotateY(0deg);
  }

//   slide animations

#cf {
    position:relative;
    height:281px;
    width:450px;
    // bottom: 50%;
    top:40%;
    left: 115%;
    margin:0 auto;
    transform: translate(-50%, -50%);
  }

  #cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  @keyframes cf3FadeInOut {
    0% {
    opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
  }

  #cf img.top {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 7s;   //adjust transition speed here
  animation-direction: alternate;
  }
