<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>

    <body>
        <!-- parallax -->
        
        <div class="pimg1">
            <div class="ptext">
              <!-- <span class="border">
                Parallax Website
              </span> -->
            </div>
          </div>
        
          <section class="section section-dark">
              <div class="container">

                <div id="cf">
                    <img class="bottom" src="../../../../assets/images/slider/3.jpg" />
                    <img class="top" src="../../../../assets/images/slider/4.jpg" />
                </div>


              </div>
            <h2>Section One</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in. Distinctio provident dolorem modi cumque illo enim quidem tempora deserunt nostrum voluptate labore repellat quisquam quasi cum suscipit dolore ab consequuntur, ad porro earum temporibus. Laborum ad temporibus ex, omnis!
            </p>
          </section>
        
          <div class="pimg2">
            <div class="ptext">
              <span class="border trans">
                Image Two Text
              </span>
            </div>
          </div>
        
          <section class="section section-dark">
            <h2>Section Two</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
            </p>
          </section>
        
          <div class="pimg3">
            <div class="ptext">
              <span class="border trans">
                Image Three Text
              </span>
            </div>
          </div>
        
          <section class="section-last section-dark">
            

            <div class="container">
            
                <!-- First Card  -->
                <div class="card middle">
                    <div class="front">
                        <img src="../../../../assets/images/slider/2.jpg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middleback">
                            <h2>Automosoft</h2>
                            <span>Garage Management System</span>
                            <div class="sm">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Second Card -->
                <div class="card middle">
                    <div class="front">
                        <img src="../../../../assets/images/slider/2.jpg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-content middleback">
                            <h2>Automosoft</h2>
                            <span>Garage Management System</span>
                            <div class="sm">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            
            
            </div>


            <!-- /flip card -->
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, laudantium, quibusdam? Nobis, delectus, commodi, fugit amet tempora facere dolores nisi facilis consequatur, odio hic minima nostrum. Perferendis eos earum praesentium, blanditiis sapiente labore aliquam ipsa architecto vitae. Minima soluta temporibus voluptates inventore commodi cumque esse suscipit optio aliquam et, dolorem a cupiditate nihil fuga laboriosam fugiat placeat dignissimos! Unde eveniet placeat quisquam blanditiis voluptatem doloremque fugiat dolor repellendus ratione in.
            </p>
          </section>
        
          <div class="pimg1">
            <div class="ptext">
              <!-- <span class="border">
                Traversy Media
              </span> -->
            </div>
          </div>

        <!-- /parallax -->
        

       

        <div class="container"></div>

    </body>
</html>