<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened>
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec;">
              <br />
              <div class="test">
                <h2 class="topic">STOCK STATUS</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <mat-tab label="SEARCH BY ITEM ID">
                    <form [formGroup]=itemSearchForm *ngIf="!dataform">

                      <mat-card>
                        <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 10px" />

                        <h3 class="topic" style="margin: auto; text-align:left; margin-left: 100px; padding-bottom: 10px;">ENTER ITEM ID:</h3>
                        <div class="form-row mb-4">
                          <mat-form-field appearance="outline">
                            <mat-label>ITEM ID:</mat-label>
                            <input matInput class="form-control box_border" formControlName="itemid">
                          </mat-form-field>
                        </div>
                        <br>
                        <br>
                        <button mat-raised-button type="submit" (click)="searchItem()" class="my-4 btn-block reg_btn ">
                          Search
                        </button>

                        <button mat-raised-button (click)="resetSearch()" type="submit"
                          class="my-4 btn-block del_btn  ">
                          Cancel
                        </button>
                      </mat-card>
                    </form>
                    <!-- add here -->
                    <div class="container" *ngIf="dataform">
                      <form [formGroup] = "itemDataForm">
                        <br>

                          <div class="form-row mb-4">


                            <mat-form-field appearance="outline">
                              <mat-label>Item ID:</mat-label>
                              <input matInput class="form-control box_border" formControlName="itemid" [(ngModel)]="itemdata.itemid">
                              <!-- <mat-hint>Maximum Characters: 255</mat-hint> -->
                            </mat-form-field>


                            <mat-form-field appearance="outline">
                              <mat-label>Item Name:</mat-label>
                              <input matInput class="form-control box_border" formControlName="itemname" [(ngModel)]="itemdata.itemname">

                            </mat-form-field>

                            <mat-form-field appearance="outline">
                              <mat-label>Buying Rate:</mat-label>
                              <input matInput placeholder="LKR" formControlName="buying" [(ngModel)]="itemdata.buying">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                              <mat-label>Selling Rate:</mat-label>
                              <input matInput placeholder="LKR" formControlName="selling" [(ngModel)]="itemdata.selling">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                              <mat-label>Stock Quantity:</mat-label>
                              <input matInput formControlName="storequantity" [(ngModel)]="itemdata.storequantity">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                              <mat-label>Last stock update:</mat-label>
                              <input matInput formControlName="lastmodifiedon" [(ngModel)]="itemdata.lastmodifiedon">
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                              <mat-label>Last stock updated by:</mat-label>
                              <input matInput formControlName="lastmodifiedby" [(ngModel)]="itemdata.lastmodifiedby">
                            </mat-form-field>

                            <button mat-raised-button (click)="back()"  type="submit" class="my-4 btn-block del_btn">Back</button>



                            <!-- <div *ngIf="cookies.userData.usertype == 'Administrator'">
                              <h3>SUPPLIED ITEMS
                                <button mat-raised-button (click)="addItem()"  type="submit" class="my-4 btn-block add_btn">
                                  <mat-icon >add</mat-icon>NEW
                                </button>
                              </h3>

                              <div class="mat-elevation-z8" style="width:60%; margin-bottom: 10px; margin: auto; margin-top: 20px;">
                               <table class="table ">
                                 <thead>
                                   <tr>
                                     <th>ITEM TYPE</th>
                                     <th>ITEM ID</th>
                                     <th>BRAND</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr *ngFor= "let k of supItems">
                                     <td>{{k.itemtype}}</td>
                                     <td>{{k.itemid}}</td>
                                     <td>{{k.brand}}</td>
                                   </tr>
                                 </tbody>
                               </table>

                              </div>

                            </div> -->




                          </div>

                          <!-- <button mat-raised-button (click)=updateSupplier() type="submit" class="my-4 btn-block reg_btn" *ngIf="cookies.userData.usertype == 'Administrator'">
                            Update
                          </button>

                          <button mat-raised-button (click)=cancel() type="submit" class="my-4 btn-block btn_1  ">
                            Cancel
                          </button>

                          <button mat-raised-button (click)=delete() type="submit" class="my-4 btn-block del_btn">
                            Delete
                          </button>
                          <br>
                          <br> -->
                      </form>
                    </div>

                  </mat-tab>
                  <!-- ***************************************************************************** View Store  ************************************************************************** -->

                  <mat-tab label="VIEW ALL ITEMS" *ngIf="!dataform">
                    <mat-card>
                      <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 10px" />
                      <br>
                      <button mat-raised-button type="submit" class="rep_btn" color="primary"
                        style="display: flex;" (click)="viewReport()">
                        Generate Report
                      </button>
                      <h3 class="topic" style="margin: auto; text-align:left; margin-left: 100px; padding-bottom: 10px; padding-top: 10px;">SELECT ITEM CATEGORY:</h3>
                      <div class="form-row mb-4">
                        <mat-form-field appearance="outline">
                          <mat-select placeholder="Item Category:" [(ngModel)]="itemtype" (ngModelChange)="selectItem($event)">
                            <mat-option value="Spare Parts">Spare Parts</mat-option>
                            <mat-option value="Paints">Paints</mat-option>
                            <mat-option value="Tools">Tools</mat-option>
                            <mat-option value="Tyres">Tyres</mat-option>
                            <mat-option value="Electric Parts">Electric Parts</mat-option>
                            <mat-option value="all">ALL</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- {{searchText}} -->
                      </div>
                      <br>
                      <br>
                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource ">


                          <ng-container matColumnDef="itemid">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> Item ID
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element.itemid}} </td>
                          </ng-container>


                          <ng-container matColumnDef="itemname">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> Item
                              Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.itemname}} </td>
                          </ng-container>


                          <ng-container matColumnDef="buying">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> Buying
                              Price </th>
                            <td mat-cell *matCellDef="let element"> {{element.buying}} </td>
                          </ng-container>


                          <ng-container matColumnDef="selling">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> Selling
                              Price</th>
                            <td mat-cell *matCellDef="let element"> {{element.selling}} </td>
                          </ng-container>


                          <ng-container matColumnDef="storequantity">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;">
                              Quantity</th>
                            <td mat-cell *matCellDef="let element"> {{element.storequantity}} </td>
                          </ng-container>

                          <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center; font-weight: 900;"> ACTION
                            </th>
                            <td mat-cell *matCellDef="let element">
                              <button mat-icon-button type="submit" class=" btn-block btn_1"
                              (click)="ItemDetails(element)">
                              <mat-icon>search</mat-icon>
                            </button>
                              <button mat-icon-button type="submit" class=" btn-block reg_btn"
                                title="Request Purchase Order" (click)="requestItem(element)">
                                <mat-icon>shopping_cart</mat-icon>
                              </button>
                            </td>
                          </ng-container>


                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                      </div>

                    </mat-card>
                  </mat-tab>

                   <!-- ***************************************************************************** View Approved Orders ************************************************************************** -->


                  <mat-tab label="APPROVED ORDERS">
                    <mat-card>
                      <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 5px" />
                      <div>
                        <table class="purchase-orders-table">
                          <thead style="font-size: 13px;">
                            <tr>
                              <th>DATE APPLIED</th>
                              <th>ITEM ID</th>
                              <th>QAUNTITY</th>
                              <th>STATUS</th>
                              <th>SUPPLIER ID</th>
                              <th>DATE RECEIVED</th>
                            </tr>
                          </thead>
                          <tbody class="pending-approval-table-body" style="font-size: 13px;">
                            <tr *ngFor="let k of approvedOrders">
                              <td>{{k.dateApplied || 'N/A'  | date }}</td>
                              <td>{{k.itemid || 'N/A'}}</td>
                              <td>{{k.quantity || 'N/A'}}</td>
                              <td>{{k.status || 'N/A'}}</td>
                              <td>{{k.supplierid || 'N/A'}}</td>
                              <td>{{k.dateReceived || 'N/A'}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </mat-card>
                  </mat-tab>

                </mat-tab-group>

              </div>
              <!-- <div class="container" style="margin-bottom: 50px; " >
                <div class="row"
                    style="margin: auto;width: 97%;background-color: rgb(255, 255, 255);border-radius: 4px;border: rgb(231, 231, 231) solid 1px">
                    <div class="chart-wrapper">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [plugins]="barChartPlugins"
                            [legend]="barChartLegend" [chartType]="barChartType"
                            [colors]="chartColors">
                        </canvas>
                    </div>
                </div>
            </div> -->

            </div>
          </div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
