<div style="padding-top: 60px;">
  <mat-sidenav-container>
    <mat-sidenav class="example-container" #sidenav mode="side" opened >
      <app-main></app-main>
    </mat-sidenav>
    <mat-sidenav-content>

      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="container-fluid" style="background-color: #ddddec; min-height: 1300px;">

              <br />
              <div class="test">
                <h2 class="topic">EMPLOYEE REGISTRATION</h2>
              </div>
              <mat-divider></mat-divider>
              <div style="padding-left: 50px; padding-right: 50px; padding-bottom: 50px; padding-top: 50px">

                <mat-tab-group class="p-5 reg-frm">

                  <!-- ***************************************************ADD ONE USER************************************************************************** -->
                  <mat-tab label="SINGLE EMPLOYEE">
                    <form [formGroup]="employeeForm">

                      <mat-card>
                        <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 5px" />

                        <div class="form-row mb-4">
                          <mat-form-field appearance="outline" >
                            <!-- <mat-label>Select User Type:</mat-label> -->
                            <mat-select placeholder="Select Employee Category:" formControlName="usertype" #t (selectionChange)="togglefunction(t.value)">
                              <mat-option value="Administrator">Admin</mat-option>
                              <mat-option value="Accountant">Accountant</mat-option>
                              <mat-option value="Foreman">Foreman</mat-option>
                              <mat-option value="Store-Keeper">Store-Keeper</mat-option>
                              <mat-option value="Technician">Technician</mat-option>
                            </mat-select>
                          </mat-form-field>


                          <mat-form-field appearance="outline">
                            <mat-label>Employee ID:</mat-label>
                            <input matInput class="form-control box_border" formControlName="userid">
                            <!-- <mat-hint>Maximum Characters: 255</mat-hint> -->
                          </mat-form-field>

                          <h4 >+ PROFILE IMAGE</h4>
                          <input type="file" class="file_upload" style="display: none" name="profilepic"
                          accept="image/*"  (change)="selectImage($event)"
                          #fileInput>

                          <div class="form-row mb-4">
                            <button class="pick_btn" type="button"  (click)="fileInput.click()" accept="image/*">Choose Profile Picture</button>
                            <small class="form-text text-muted mb-4"style=" text-align: left; margin-top: -18px;">
                              Resolution : (320 x 280)p / 8 : 7 {{filename}}
                            </small>
                          </div>
                          <br>
                          <mat-form-field appearance="outline">
                            <mat-label>First Name:</mat-label>
                            <input matInput class="form-control box_border" formControlName="firstName">
                            <mat-hint>Maximum Characters: 255</mat-hint>
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>Last Name:</mat-label>
                            <input matInput class="form-control box_border" formControlName="lastName">
                            <mat-hint>Maximum Characters: 255</mat-hint>
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-select placeholder="Gender" formControlName="gender">
                              <mat-option value="Male">Male</mat-option>
                              <mat-option value="Female">Female</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>NIC Number:</mat-label>
                            <input matInput placeholder="96xxxxxxxV" formControlName="nicnumber">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>Address:</mat-label>
                            <textarea matInput formControlName="address"></textarea>
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>Contact Number:</mat-label>
                            <input matInput placeholder="Ex. 081xxxxxxx" formControlName="contactNo">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>Email:</mat-label>
                            <input matInput placeholder="Ex. abc@example.com" formControlName="email">
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>Password:</mat-label>
                            <input matInput minlength=8 formControlName="password">
                          </mat-form-field>
                        </div>
                        <!-- technician skills fields -->
                        <div class="form-row mb-4" *ngIf="flag" formGroupName="skills">
                          <h3 >TECHNICIAN PROFESSIONAL SKILLS</h3>
                          <mat-form-field appearance="outline">
                            <mat-label>Expertise Category:</mat-label>
                            <mat-select placeholder="Job Type:" formControlName="expertise">
                              <mat-option value="Paint Job">Paint Job</mat-option>
                              <mat-option value="Accident Repair">Accident Repair</mat-option>
                              <mat-option value="Vehicle Valuation">Vehicle Valuation</mat-option>
                              <mat-option value="Full Service">Full Service</mat-option>
                              <mat-option value="Other">Other</mat-option>
                            </mat-select>
                          </mat-form-field>

                          <mat-form-field appearance="outline">
                            <mat-label>Estimated Working Capacity:</mat-label>
                            <input matInput formControlName="capacity">
                            <mat-hint>Capacity in Hours per week</mat-hint>
                          </mat-form-field>
                        </div>

                        <br>
                        <br>
                        <button mat-raised-button (click)=addEmployee() type="submit" class="my-4 btn-block reg_btn ">
                          Register
                        </button>

                        <button mat-raised-button (click)=reset() type="submit" class="my-4 btn-block btn_1  ">
                          Cancel
                        </button>
                      </mat-card>
                      <!-- {{employeeForm.value|json}} -->
                    </form>
                  </mat-tab>

                  <!-- ***************************************************ADD BULK************************************************************************** -->

                  <mat-tab label="ADD BULK">
                    <mat-card>
                      <img src="../../../../assets/logo/cc_croped2.png" style="width:35%; margin-bottom: 5px" />
                    </mat-card>
                  </mat-tab>

                </mat-tab-group>

              </div>

            </div>
          </div>
        </div>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
